{% comment %}
  Description:
  Renders product variant swatch options for collection page based on image URLs. 
  Defaults to buttons if no image URL is present.

  Accepts:
  - product: {Object} product object.
  - option: {Object} current product_option object.
  - variant_images_data: list of variant images
  - lazy_load_all_variants: lazy load all variant images for immediate availability when clicking swatches

  Usage:
  {% render 'variant-swatch-collection',
    product: product,
    option: option,
    variant_images_data: variant_images_data,
    lazy_load_all_variants: lazy_load_all_variants
  %}
{% endcomment %}

{% assign base_store_files_url = '//YOUR-SHOP-NAME.myshopify.com/cdn/shop/files/' %}
{% assign product_form_id = 'product-form-' | append: product.id %}

{% liquid
  assign swatchStyle = settings.swatchStyle
    assign swatchSize = settings.swatchSize1
  assign swatchColor = settings.swatchColors | newline_to_br | split: '<br />'
%}
<style>
  @media only screen and (max-width: 800px) {
    .collection-product-card__variants > .collection-product-card__swatch:nth-child(6) {
      display: none;
    }
  }
  @media only screen and (min-width: 800px) {
    .swatch-counter {
      display: none;
    }
  }
</style>
{% for value in option.values %}
  {% assign variant_image_url = nil %}
  {% assign variant_id = nil %}
  {% assign option_disabled = true %}
  {% assign first_match_found = false %}

  {% for variant in product.variants %}
    {% if first_match_found == false %}
      {% case option.position %}
        {% when 1 %}
          {% if variant.option1 == value %}
            {% assign variant_image_url = variant.featured_media | img_url: '300x300' %}
            {% assign variant_id = variant.id %}
            {% if lazy_load_all_variants %}
              <!-- Preload image -->
              <img 
                src="{{ variant_image_url }}" 
                alt="{{ variant.title }}" 
                style="display: none;" 
                loading="lazy"
                data-variant-id="{{ variant.id }}"
                width="{{ variant.featured_media.width }}"
                height="{{ variant.featured_media.height }}">
            {% endif %}
            {% if variant.available %}
              {% assign option_disabled = false %}
            {% endif %}
            {% assign first_match_found = true %}
          {% endif %}
        {% when 2 %}
          {% if variant.option2 == value and variant.option1 == product.selected_or_first_available_variant.option1 %}
            {% assign variant_image_url = variant.featured_media | img_url: '300x300' %}
            {% assign variant_id = variant.id %}
            {% if lazy_load_all_variants %}
              <!-- Preload image -->
              <img 
                src="{{ variant_image_url }}" 
                alt="{{ variant.title }}" 
                style="display: none;" 
                loading="lazy"
                data-variant-id="{{ variant.id }}"
                width="{{ variant.featured_media.width }}"
                height="{{ variant.featured_media.height }}">
            {% endif %}
            {% if variant.available %}
              {% assign option_disabled = false %}
            {% endif %}
            {% assign first_match_found = true %}
          {% endif %}
        {% when 3 %}
          {% if variant.option3 == value and variant.option1 == product.selected_or_first_available_variant.option1 and variant.option2 == product.selected_or_first_available_variant.option2 %}
            {% assign variant_image_url = variant.featured_media | img_url: '300x300' %}
            {% assign variant_id = variant.id %}
            {% if lazy_load_all_variants %}
              <!-- Preload image -->
              <img 
                src="{{ variant_image_url }}" 
                alt="{{ variant.title }}" 
                style="display: none;" 
                loading="lazy"
                data-variant-id="{{ variant.id }}"
                width="{{ variant.featured_media.width }}"
                height="{{ variant.featured_media.height }}">
            {% endif %}           
            {% if variant.available %}
              {% assign option_disabled = false %}
            {% endif %}
            {% assign first_match_found = true %}
          {% endif %}
      {% endcase %}
    {% endif %}

    {% if variant_image_url %}
      {% for item in variant_images_data %}
        {% if item.variant_value == value %}
						{% assign variant_filename = item.variant_swatch %}
            {% unless variant_filename == blank %}
              {% assign variant_image_url = base_store_files_url | append: variant_filename %}
            {% endunless %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}

  <div class="collection-product-card__swatch">
    <input 
      type="radio"
      id="collection-{{ section.id }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}" 
      name="collection-{{ section.id }}-{{ product.id }}-{{ option.name }}" 
      value="{{ value | escape }}" 
      form="{{ product_form_id }}" 
      data-section-id="{{ section.id }}"
      data-product-id="{{ product.id }}" 
      data-variant-id="{{ variant_id }}"
      data-image-url="{{ variant_image_url }}"
      {% if option.selected_value == value %}
        checked
      {% endif %}
      {% if option_disabled %}
        class="disabled"
      {% endif %}
    >

     {%- liquid
        for colorData in swatchColor
            assign colorDataArr = colorData | split:":"
            assign ruleName = colorDataArr[0] | strip
            if value == ruleName
                assign colorCodes = colorDataArr[1] | strip | split :"#"
                assign colorNumber = 0 | plus: colorCodes.size
                break
            endif
        endfor
    -%}
    <label
      data-{{ option.name }}="{{value}}"
      style="
    {%- case colorNumber -%}
        {%- when 2 -%}
            background-color: #{{ colorCodes[1] }}
        {%- when 3 -%}
            background: linear-gradient(135deg, #{{ colorCodes[1] }} 50%, #{{ colorCodes[2] }} 50%);
        {%- when 4 -%}
            background: linear-gradient(to right,#{{ colorCodes[1] }} 33%,#{{ colorCodes[2] }} 33%,#{{ colorCodes[2] }} 66%, #{{ colorCodes[3] }} 66%);
        {%- else -%}
            background-image:url(              {%- liquid
                assign original_file_url = colorCodes[0] | file_img_url
                assign url_without_query = original_file_url | split: '?' | first
                assign filename_with_extension = url_without_query | split: '/' | last
                assign filename_without_suffix = filename_with_extension | split: '_' | first
                assign file_extension = filename_with_extension | split: '.' | last
                assign cleaned_filename = filename_without_suffix | append: '.' | append: file_extension
                assign cleaned_file_url = '/cdn/shop/files/' | append: cleaned_filename
                echo cleaned_file_url | remove: '//cdn/shop/files/'
              -%})
        {%- endcase -%}
        ;"class="color-swatch {% case swatchStyle %}{% when "round" %}round{% when "square-round-corners" %}round-corners{% endcase %}"
        for="collection-{{ section.id }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}">
      <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
    </label>
    {%- assign colorCodes = "" -%}

    {% comment %}
    <label
    class="color-swatch {% case swatchStyle %} {% when "round" %}round{% when "square-round-corners" %}square-round-corners{% endcase %}" style="background:url('{{ variant_image_url }}');"
      for="collection-{{ section.id }}-{{ product.id }}-{{ option.position }}-{{ forloop.index0 }}">
      <span class="visually-hidden">{{ 'products.product.variant_sold_out_or_unavailable' | t }}</span>
    </label>
    {% endcomment %}
  </div>
{% endfor %}
{% assign prod_variant_count = 0 %}
  {% for option in product.options %}
      {% if option contains 'Color' %}
        {% for variant in product.variants %}
        	{% assign prod_variant_count = prod_variant_count | plus: 1 %}
        {% endfor %}
      {% else %}
      	{% break %}
      {% endif %}
    {% endfor %}
  {% if prod_variant_count > 4 %}
  <span class="swatch-counter">+{{ prod_variant_count | minus: 6 }}</span>
  {% endif %}

<style>

  .collection-product-card__swatch {
      display: inline-block;
      margin-top: 5px;
      margin-right: 5px;
  }
  
  .collection-product-card__swatch input {
      display: none;
  }
  
   .collection-product-card__swatch label {
      display: block;
      width: {{swatchSize}}px; /* Adjust for desired swatch size */
      height: {{swatchSize}}px; /* Adjust for desired swatch size */
      border: 1px solid #777;
      border-radius: 50%; /* 50% for circle, 0% for square */
      background-size: cover !important;
      cursor: pointer;
      transition: border-color 0.3s ease;
  } 

/* .collection-product-card__swatch label{
{% if swatchStyle == "round" %}
  .collection-product-card__swatch + label.round,
.collection-product-card__swatch + label.round:after,
.collection-product-card__swatch + label.round:before{
    border-radius: 100% !important;
  }
{% endif %}
{% if swatchStyle == "square" %}
  .collection-product-card__swatch + label,
.collection-product-card__swatch + label:after,
.collection-product-card__swatch + label:before{
    border-radius: 0 !important;
  }
{% endif %}
{% if swatchStyle == "round" %}
  .collection-product-card__swatch + label,
.collection-product-card__swatch + label:after,
.collection-product-card__swatch + label:before{
    border-radius: 5px !important;
  }
{% endif %}
} */
  
  .collection-product-card__swatch label:hover {
      border-color: #333 !important;
  }
  
  .collection-product-card__swatch input:checked + label {
      border-color: #333;
      border-width: 2px; 
      box-shadow: inset 0 0 0 1px #fff; 
  }  
  
  .collection-product-card__swatch input.disabled + label {
      opacity: 0.5;
      position: relative; 
  }
    .collection-product-card__swatch input.disabled + label::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(to bottom right, transparent 45%, rgba(44, 16, 16 ) 50%, transparent 55%);
      pointer-events: none;
  }
  {% if swatchStyle == "round" %}
  .collection-product-card__swatch input.disabled + label::after {
border-radius: 50%;
  }
{% endif %}
  .square{
  border-radius: 100% !important;
}

.square{
  border-radius: 0px !important;
}

.square-round-corners{
  border-radius: 5px !important;
}
  
</style>

<script>
    var colorSwatch = document.querySelectorAll('label.color-swatch');
  {% if swatchStyle == "square" %}
  colorSwatch.forEach(function(label) {
    // Add the additional class, for example, "new-class"
    label.classList.add('square');
  });
  {% endif %}
  {% if swatchStyle == "round" %}
  console.log(colorSwatch);
    colorSwatch.forEach(function(label) {
    // Add the additional class, for example, "new-class"
    label.classList.add('round');
  });
  {% endif %}
   {% if swatchStyle == "square-round-corners" %}
  console.log(colorSwatch);
    colorSwatch.forEach(function(label) {
    // Add the additional class, for example, "new-class"
    label.classList.add('square-round-corners');
  });
  {% endif %}
</script>


