{%- assign sec_id = '#shopify-section-' | append: section.id -%}

<style>
  
 {{ sec_id }} .pc-pricing-table__item img {
    height: 128px;
    margin-bottom: 20px;
 }

  {{ sec_id }} .pc-pricing-table__products {
    margin: 11px 0;
 }
  
  {{ sec_id }} .pc-all-pricing-table{
  width: 100%;
  }
  
  {{ sec_id }} .pc-pricing-table-wrapper {
  max-width: 71rem;
  margin: 0 auto;
}

  {{ sec_id }} .pc-pricing-table {
  --pc-pricing-table-color: hsl(219, 83%, 57%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2em;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  margin-top: 22px;
  }

  {{ sec_id }} .pc-pricing-table__item {
  display: flex;
  max-height: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2em;
  border-radius: 1.5em;
  box-shadow:  0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);;
  transition: box-shadow 200ms cubic-bezier(0.02, 0.01, 0.47, 1), transform 200ms cubic-bezier(0.02, 0.01, 0.47, 1);
  }

 {{ sec_id }} .pc-pricing-table__item:hover {
  box-shadow: 0 40px 40px rgba(0, 0, 0, 0.16);
  transform: translateY(-20px);
  }

 {{ sec_id }} .pc-pricing-table__item--popular {
  position: relative;
 }

  {{ sec_id }} .pc-pricing-table__item--popular::before {
  position: absolute;
  content: attr(data-popular);
  top: 2em;
  right: 2em;
  font-size: 0.9em;
  padding: 0 1em;
  background-color: hsl(51, 100%, 50%);
  border-radius: 1em;
  color: hsl(60, 5%, 15%);
  }

  {{ sec_id }} .pc-pricing-table__img {
  width: 100%;
  max-width: 9.3em;
  }

  {{ sec_id }} .pc-pricing-table__title {
  margin: 0;
  font-size: 1.7em;
  text-transform: capitalize;
  }

  {{ sec_id }} .pc-pricing-table__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  }

  {{ sec_id }} .pc-pricing-table__tagline {
  margin: 0;
  color: hsl(216, 3%, 63%);
  text-align: center;
  }

  {{ sec_id }} .pc-pricing-table__price {
  color: var(--pc-pricing-table-color);
  font-size: 2.5em;
  margin: -2px;
  font-weight: bold;
  }

  {{ sec_id }} .pc-pricing-table__label {
  margin: 0;
  color: hsl(216, 3%, 63%);
  font-size: 0.9em;
  }

  {{ sec_id }} .pc-pricing-table__save {
  color: hsl(122, 39%, 49%);
  font-weight: bold;
  }

  {{ sec_id }} .pc-pricing-table__products {
  padding: 0;
  list-style: none;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  }

  {{ sec_id }} .pc-pricing-table__product {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-bottom: 0.5em;
  }

  {{ sec_id }} .pc-pricing-table__product a {
  text-decoration: none;
  color: inherit;
  transition: color 0.2s ease-in-out;
  }

  {{ sec_id }} .pc-pricing-table__product a:hover {
  color: var(--pc-pricing-table-color);
  }

  {{ sec_id }} .pc-pricing-table__product::before {
  content: '';
  width: 0.5em;
  height: 0.5em;
  margin-inline-end: 1em;
  border-radius: 50%;
  background-color: var(--pc-pricing-table-color);
  }

  {{ sec_id }} .pc-pricing-table__product--excluded::before {
  content: '';
  width: 0.5em;
  height: 0.5em;
  margin-inline-end: 1em;
  border-radius: 0;
  background: no-repeat url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='hsl(4, 90%, 58%)'%3E%3Cpath d='M14.348 14.849a1.2 1.2 0 0 1-1.697 0L10 11.819l-2.651 3.029a1.2 1.2 0 1 1-1.697-1.697l2.758-3.15-2.759-3.152a1.2 1.2 0 1 1 1.697-1.697L10 8.183l2.651-3.031a1.2 1.2 0 1 1 1.697 1.697l-2.758 3.152 2.758 3.15a1.2 1.2 0 0 1 0 1.698z'/%3E%3C/svg%3E") center/contain;
  transform: scale(2.5);
  }

  {{ sec_id }} .pc-pricing-table__button {
  background: var(--pc-pricing-table-color);
  color: #fff;
  margin-top: auto;
  padding: 1em 2em;
  text-decoration: none;
  width: 100%;
  border-radius: 1.87em;
  text-align: center;
  transition: background 0.2s ease-in-out;
  text-transform: capitalize;
  }

  {{ sec_id }} .pc-pricing-table__button:hover {
  background-color: hsl(122, 39%, 49%);
  }

  {{ sec_id }} .pc-all-pricing-table{
  background-color: {{ section.settings.background_color }};
  padding-top: {{ section.settings.padding_top }}px;
  padding-bottom: {{ section.settings.padding_bottom }}px;
  }

  {{ sec_id }} .pc-pricing-table__title {
  }
  
</style>

<div class="pc-all-pricing-table" style="">
  <div class="page-width">
<ul class="pc-pricing-table">
  {% for block in section.blocks %}
    {% assign plan = block.settings %}
<li class="pc-pricing-table__item{% if block.settings.popular %} pc-pricing-table__item--popular{% endif %}"
    {% if block.settings.popular %}data-popular="Popular"{% endif %}
    style="box-shadow: {{ block.settings.box_shadow_x }}px {{ block.settings.box_shadow_y }}px {{ block.settings.box_shadow_blur }}px {{ block.settings.box_shadow_spread }}px {{ block.settings.box_shadow_color }};"
    onmouseover="this.style.boxShadow='{{ block.settings.box_shadow_x }}px {{ block.settings.box_shadow_y }}px {{ block.settings.box_shadow_blur }}px {{ block.settings.box_shadow_spread }}px {{ block.settings.box_shadow_color }}';"
    onmouseout="this.style.boxShadow='{{ block.settings.box_shadow_x }}px {{ block.settings.box_shadow_y }}px {{ block.settings.box_shadow_blur }}px {{ block.settings.box_shadow_spread }}px {{ block.settings.box_shadow_color }}';"
>
       <div class="pc-pricing-table__img" {{ block.shopify_attributes }} style="width: {{ plan.image_width }}px; height: auto;">
            {% if block.settings.image %}
                {{
                  block.settings.image
                  | image_url: width: plan.image_width
                  | image_tag
                }}
            {% endif %}
        </div>

       <h3 class="pc-pricing-table__title"
         style="
          color: {{ block.settings.title_color }};
    font-weight: {{ block.settings.title_font_weight }};
    font-style: {{ block.settings.font_style }};
    letter-spacing: {{ block.settings.letter_spacing }}px;
    text-decoration: {{ block.settings.text_decoration }};
    {% if block.settings.text_decoration != 'none' %}
      text-decoration-color: {{ block.settings.text_decoration_color }};
    {% endif %}
    padding-top: {{ block.settings.padding_top }}px;
    padding-bottom: {{ block.settings.padding_bottom }}px;
    font-size: 
    {% case block.settings.text_size %}
      {% when 'small' %}14px
      {% when 'medium' %}18px
      {% when 'large' %}24px
      {% else %}16px
    {% endcase %};
         "
         >{{ block.settings.title }}</h3>
  
      <p class="pc-pricing-table__description">
        <span class="pc-pricing-table__tagline"
          style="
    color: {{ block.settings.tagline_text_color }};
    text-align: {{ block.settings.tagline_text_align }};
   font-weight: {{ block.settings.tagline_font_weight }};
    font-style: {{ block.settings.tagline_font_style }};
    letter-spacing: {{ block.settings.tagline_letter_spacing }}px;
    text-decoration: {{ block.settings.tagline_text_decoration }};
    text-decoration-color: {{ block.settings.tagline_text_decoration_color}} !important;
    padding-top: {{ block.settings.tagline_padding_top }}px;
    padding-bottom: {{ block.settings.tagline_padding_bottom }}px;
    font-size:
      {% case block.settings.tagline_text_size %}
        {% when 'small' %}14px
        {% when 'medium' %}18px
        {% when 'large' %}24px
        {% else %}16px
      {% endcase %};
  ">{{block.settings.tagline }}</span>
        
    {% assign price_font_size = '' %}
{% case plan.price_text_size %}
  {% when 'small' %} {% assign price_font_size = '14px' %}
  {% when 'medium' %} {% assign price_font_size = '18px' %}
  {% when 'large' %} {% assign price_font_size = '24px' %}
  {% else %} {% assign price_font_size = '16px' %}
{% endcase %}

<span class="pc-pricing-table__price"
  style="
    color: {{ block.settings.price_title_color }};
    text-align: {{ plan.price_text_align }};
    font-weight: {{ plan.price_font_weight }};
    font-style: {{ plan.price_font_style }};
    letter-spacing: {{ plan.price_letter_spacing }}px;
    text-decoration: {{ plan.price_text_decoration }};
    padding-top: {{ plan.price_padding_top }}px;
    padding-bottom: {{ plan.price_padding_bottom }}px;
    font-size: {{ price_font_size }};
  "
>
  {{ plan.price }}
</span>

      {% assign label_font_size = '' %}
{% case plan.label_text_size %}
  {% when 'small' %} {% assign label_font_size = '14px' %}
  {% when 'medium' %} {% assign label_font_size = '18px' %}
  {% when 'large' %} {% assign label_font_size = '24px' %}
  {% else %} {% assign label_font_size = '16px' %}
{% endcase %}

<span class="pc-pricing-table__label"
  style="
    color: {{ block.settings.label_title_color }};
    text-align: {{ plan.label_text_align }};
   font-weight: {{ plan.label_font_weight }};
    font-style: {{ plan.label_font_style }};
    letter-spacing: {{ plan.label_letter_spacing }}px;
    text-decoration: {{ plan.label_text_decoration }};
    text-decoration-color: {{ plan.label_text_decoration_color }};
    padding-top: {{ plan.label_padding_top }}px;
    padding-bottom: {{ plan.label_padding_bottom }}px;
    font-size: {{ label_font_size }};
  "
>
  {{ plan.label }}
</span>

       {% assign save_font_size = '' %}
{% case plan.save_text_size %}
  {% when 'small' %} {% assign save_font_size = '14px' %}
  {% when 'medium' %} {% assign save_font_size = '18px' %}
  {% when 'large' %} {% assign save_font_size = '24px' %}
  {% else %} {% assign save_font_size = '16px' %}
{% endcase %}

<span class="pc-pricing-table__save"
  style="
    color: {{ block.settings.save_title_color }};
    text-align: {{ plan.save_text_align }};
   font-weight: {{ plan.save_font_weight }};
    font-style: {{ plan.save_font_style }};
    letter-spacing: {{ plan.save_letter_spacing }}px;
    text-decoration: {{ plan.save_text_decoration }};
    text-decoration-color: {{ plan.save_text_decoration_color }};
    padding-top: {{ plan.save_padding_top }}px;
    padding-bottom: {{ plan.save_padding_bottom }}px;
    font-size: {{ save_font_size }};
  "
>
  {{ plan.save }}
</span>
</p>
           <ul class="pc-pricing-table__products">
     {% if block.settings.included_items != blank %}

  {% assign included = block.settings.included_items | split: ',' %}
  {% for item in included %}
    {% assign item_trimmed = item | strip %}
    <li class="pc-pricing-table__product"
        style="
          font-size: {% case block.settings.included_items_text_size %}
            {% when 'small' %}12px
            {% when 'medium' %}16px
            {% when 'large' %}20px
          {% endcase %};
          text-align: {{ block.settings.included_items_text_align }};
          font-weight: {{ block.settings.included_items_font_weight }};
          font-style: {{ block.settings.included_items_font_style }};
          letter-spacing: {{ block.settings.included_items_letter_spacing }}px;
          text-decoration: {{ block.settings.included_items_text_decoration }};
          text-decoration-color: {{ block.settings.included_items_text_decoration_color }};
          padding-top: {{ block.settings.included_items_padding_top }}px;
          padding-bottom: {{ block.settings.included_items_padding_bottom }}px;
        ">
      <a href="#">
        {{ item_trimmed }}
      </a>
    </li>
  {% endfor %}
{% endif %}


     {% if block.settings.excluded_items != blank %}
  <li class="pc-pricing-table__product-label">
    {{ block.settings.excluded_label }}
  </li>
  {% assign excluded = block.settings.excluded_items | split: ',' %}
  {% for item in excluded %}
    {% assign item_trimmed = item | strip %}
    <li class="pc-pricing-table__product pc-pricing-table__product--excluded"
        style="
          font-size: {% case block.settings.excluded_items_text_size %}
            {% when 'small' %}12px
            {% when 'medium' %}16px
            {% when 'large' %}20px
          {% endcase %};
          text-align: {{ block.settings.excluded_items_text_align | default: 'left' }};
          font-weight: {{ block.settings.excluded_items_font_weight }};
          font-style: {{ block.settings.excluded_items_font_style }};
          letter-spacing: {{ block.settings.excluded_items_letter_spacing }}px;
          text-decoration: {{ block.settings.excluded_items_text_decoration }};
          {% if block.settings.excluded_items_text_decoration != 'none' %}
            text-decoration-color: {{ block.settings.excluded_items_text_decoration_color }};
          {% endif %}
          padding-top: {{ block.settings.excluded_items_padding_top }}px;
          padding-bottom: {{ block.settings.excluded_items_padding_bottom }}px;
          color: {{ block.settings.excluded_items_text_color | default: 'inherit' }};
        ">
      <a href="#">
        {{ item_trimmed }}
      </a>
    </li>
  {% endfor %}
{% endif %}
      </ul>
      
      <a href="{{ block.settings.button_url | default: '#' }}"
        class="pricing-table__button"
        style="
          background: {{ block.settings.button_background_color }};
          color: {{ block.settings.button_text_color }};
          font-size: {{ block.settings.button_font_size }}px;
          font-weight: {{ plan.button_font_weight }};
          text-transform: {{ block.settings.button_text_transform }};
          letter-spacing: {{ block.settings.button_letter_spacing }}px;
          text-decoration: {{ block.settings.button_text_decoration }};
          text-decoration-color: {{ block.settings.button_text_decoration_color }};
          border: 1px solid {{ block.settings.button_border_color }};
          border-radius: {{ block.settings.button_border_radius }}px;
          padding: {{ block.settings.button_padding_vertical }}px {{ block.settings.button_padding_horizontal }}px;
          min-width: {{ block.settings.button_min_width }}px;
          display: inline-block;
          text-align: center;
          text-decoration: none;
          transition: all 0.3s ease;
        "
        onmouseover="this.style.background='{{ block.settings.button_hover_background_color }}'; this.style.color='{{ block.settings.button_hover_text_color }}'; this.style.borderColor='{{ block.settings.button_hover_border_color }}';"
        onmouseout="this.style.background='{{ block.settings.button_background_color }}'; this.style.color='{{ block.settings.button_text_color }}'; this.style.borderColor='{{ block.settings.button_border_color }}';"
      >
        {{ block.settings.button_label }}
      </a>
    </li> <!-- This closes the pc-pricing-table__item -->
  {% endfor %}
</ul>
</div>
</div>

{% schema %}
{
  "name": "compare table",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "header",
          "content": "Background Color"
        },
    {
  "type": "color",
  "id": "background_color",
  "label": "Background Color",
  "default": "#ffffff"
},
    {
          "type": "header",
          "content": "Padding"
        },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.multicolumn.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
        },
        {
          "value": "circle",
          "label": "t:sections.multicolumn.settings.image_ratio.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.multicolumn.settings.image_ratio.label"
    },
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_button.content"
    },    
    {
      "type": "text",
      "id": "button_label",
      "default": "t:sections.multicolumn.settings.button_label.default",
      "label": "t:sections.multicolumn.settings.button_label.label", 
      "info": "t:sections.multicolumn.settings.button_label.info"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "t:sections.multicolumn.settings.button_link.label"
    },    
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_layout.content"
    },     
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "t:sections.multicolumn.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "column_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.multicolumn.settings.column_alignment.label"
    },
    {
      "type": "select",
      "id": "background_style",
      "options": [
        {
          "value": "none",
          "label": "t:sections.multicolumn.settings.background_style.options__1.label"
        },
        {
          "value": "primary",
          "label": "t:sections.multicolumn.settings.background_style.options__2.label"
        }
      ],
      "default": "primary",
      "label": "t:sections.multicolumn.settings.background_style.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },    
    {
      "type": "header",
      "content": "t:sections.multicolumn.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.multicolumn.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.multicolumn.settings.columns_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "t:sections.multicolumn.settings.swipe_on_mobile.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
   {
      "type": "column",
      "name": "Plan",
      "settings": [
        {
          "type": "header",
          "content": "Box Shadow"
        },
        {
          "type": "range",
          "id": "box_shadow_x",
          "label": "Box Shadow X Offset",
          "min": -50,
          "max": 50,
          "step": 1,
          "default": 0,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "box_shadow_y",
          "label": "Box Shadow Y Offset",
          "min": -50,
          "max": 50,
          "step": 1,
          "default": 4,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "box_shadow_blur",
          "label": "Box Shadow Blur",
          "min": 0,
          "max": 100,
          "step": 1,
          "default": 12,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "box_shadow_spread",
          "label": "Box Shadow Spread",
          "min": -50,
          "max": 50,
          "step": 1,
          "default": 0,
          "unit": "px"
        },
        {
          "type": "color",
          "id": "box_shadow_color",
          "label": "Box Shadow Color",
          "default": "#0000001A"
        },
        {
          "type": "header",
          "content": "Image"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Plan Image"
        },
        {
          "type": "range",
          "id": "image_width",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "px",
          "default": 50,
          "label": "Image Width (px)"
        },
        {
          "type": "header",
          "content": "Package Title"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Package Title",
        },
        {
          "type": "color",
          "id": "title_color",
          "label": "Text Color",
          "default": "#000"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "Text Size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "small"
        },
        {
          "type": "select",
          "id": "title_font_weight",
          "label": "Font weight",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "bold",
              "label": "Bold"
            },
            {
              "value": "bolder",
              "label": "Bolder"
            },
            {
              "value": "lighter",
              "label": "Lighter"
            },
            {
              "value": "100",
              "label": "100"
            },
            {
              "value": "200",
              "label": "200"
            },
            {
              "value": "300",
              "label": "300"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "500",
              "label": "500"
            },
            {
              "value": "600",
              "label": "600"
            },
            {
              "value": "700",
              "label": "700"
            },
            {
              "value": "800",
              "label": "800"
            },
            {
              "value": "900",
              "label": "900"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "font_style",
          "label": "Font style",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "italic",
              "label": "Italic"
            },
            {
              "value": "oblique",
              "label": "Oblique"
            }
          ],
          "default": "normal"
        },
        {
          "type": "range",
          "id": "letter_spacing",
          "min": 0,
          "max": 10,
          "step": 0.5,
          "unit": "px",
          "label": "Letter spacing",
          "default": 0
        },
        {
          "type": "select",
          "id": "text_decoration",
          "label": "Text Decoration",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "underline",
              "label": "Underline"
            },
            {
              "value": "overline",
              "label": "Overline"
            },
            {
              "value": "line-through",
              "label": "Line Through"
            }
          ],
          "default": "none"
        },
        {
          "type": "color",
          "id": "text_decoration_color",
          "label": "Text Decoration Color",
          "default": "#ffffff"
        },
        {
          "type": "range",
          "id": "padding_top",
          "label": "Padding Top (px)",
          "default": 5,
          "min": 0,
          "max": 150,
          "step": 5
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "label": "Padding Bottom (px)",
          "default": 5,
          "min": 0,
          "max": 150,
          "step": 5
        },
        {
          "type": "header",
          "content": "Tagline"
        },
        {
          "type": "text",
          "id": "tagline",
          "label": "Tagline",
          "default": "The tagline goes here"
        },
        {
          "type": "color",
          "id": "tagline_text_color",
          "label": "Text Color",
          "default": "#000"
        },
        {
          "type": "select",
          "id": "tagline_text_size",
          "label": "Text Size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "small"
        },
        {
          "type": "select",
          "id": "tagline_font_weight",
          "label": "Font weight",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "bold",
              "label": "Bold"
            },
            {
              "value": "bolder",
              "label": "Bolder"
            },
            {
              "value": "lighter",
              "label": "Lighter"
            },
            {
              "value": "100",
              "label": "100"
            },
            {
              "value": "200",
              "label": "200"
            },
            {
              "value": "300",
              "label": "300"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "500",
              "label": "500"
            },
            {
              "value": "600",
              "label": "600"
            },
            {
              "value": "700",
              "label": "700"
            },
            {
              "value": "800",
              "label": "800"
            },
            {
              "value": "900",
              "label": "900"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "tagline_font_style",
          "label": "Font style",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "italic",
              "label": "Italic"
            },
            {
              "value": "oblique",
              "label": "Oblique"
            }
          ],
          "default": "normal"
        },
        {
          "type": "range",
          "id": "tagline_letter_spacing",
          "min": 0,
          "max": 10,
          "step": 0.5,
          "unit": "px",
          "label": "Letter spacing",
          "default": 0
        },
        {
          "type": "select",
          "id": "tagline_text_decoration",
          "label": "Text Decoration",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "underline",
              "label": "Underline"
            },
            {
              "value": "overline",
              "label": "Overline"
            },
            {
              "value": "line-through",
              "label": "Line Through"
            }
          ],
          "default": "none"
        },
        {
          "type": "color",
          "id": "tagline_text_decoration_color",
          "label": "Text Decoration Color",
          "default": "#ffffff"
        },
        {
          "type": "range",
          "id": "tagline_padding_top",
          "label": "Padding Top (px)",
          "default": 5,
          "min": 0,
          "max": 150,
          "step": 5
        },
        {
          "type": "range",
          "id": "tagline_padding_bottom",
          "label": "Padding Bottom (px)",
          "default": 5,
          "min": 0,
          "max": 150,
          "step": 5
        },
        {
          "type": "header",
          "content": "Price"
        },
        {
          "type": "text",
          "id": "price",
          "label": "Price",
          "default": "800"
        },
        {
          "type": "color",
          "id": "price_title_color",
          "label": "Text Color",
          "default": "#000"
        },
        {
          "type": "select",
          "id": "price_text_size",
          "label": "Text Size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "small"
        },
        {
          "type": "select",
          "id": "price_font_weight",
          "label": "Font weight",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "bold",
              "label": "Bold"
            },
            {
              "value": "bolder",
              "label": "Bolder"
            },
            {
              "value": "lighter",
              "label": "Lighter"
            },
            {
              "value": "100",
              "label": "100"
            },
            {
              "value": "200",
              "label": "200"
            },
            {
              "value": "300",
              "label": "300"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "500",
              "label": "500"
            },
            {
              "value": "600",
              "label": "600"
            },
            {
              "value": "700",
              "label": "700"
            },
            {
              "value": "800",
              "label": "800"
            },
            {
              "value": "900",
              "label": "900"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "price_font_style",
          "label": "Font style",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "italic",
              "label": "Italic"
            },
            {
              "value": "oblique",
              "label": "Oblique"
            }
          ],
          "default": "normal"
        },
        {
          "type": "range",
          "id": "price_letter_spacing",
          "min": 0,
          "max": 10,
          "step": 0.5,
          "unit": "px",
          "label": "Letter spacing",
          "default": 0
        },
        {
          "type": "select",
          "id": "price_text_decoration",
          "label": "Text Decoration",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "underline",
              "label": "Underline"
            },
            {
              "value": "overline",
              "label": "Overline"
            },
            {
              "value": "line-through",
              "label": "Line Through"
            }
          ],
          "default": "none"
        },
        {
          "type": "color",
          "id": "price_text_decoration_color",
          "label": "Text Decoration Color",
          "default": "#ffffff"
        },
        {
          "type": "range",
          "id": "price_padding_top",
          "label": "Padding Top (px)",
          "default": 5,
          "min": 0,
          "max": 150,
          "step": 5
        },
        {
          "type": "range",
          "id": "price_padding_bottom",
          "label": "Padding Bottom (px)",
          "default": 5,
          "min": 0,
          "max": 150,
          "step": 5
        },
        {
          "type": "header",
          "content": "Label"
        },
        {
          "type": "text",
          "id": "label",
          "label": "Label (Original Price)",
          "default": "900 is the real price"
        },
        {
          "type": "color",
          "id": "label_title_color",
          "label": "Text Color",
          "default": "#000"
        },
        {
          "type": "select",
          "id": "label_text_size",
          "label": "Text Size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "small"
        },
        {
          "type": "select",
          "id": "label_font_weight",
          "label": "Font weight",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "bold",
              "label": "Bold"
            },
            {
              "value": "bolder",
              "label": "Bolder"
            },
            {
              "value": "lighter",
              "label": "Lighter"
            },
            {
              "value": "100",
              "label": "100"
            },
            {
              "value": "200",
              "label": "200"
            },
            {
              "value": "300",
              "label": "300"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "500",
              "label": "500"
            },
            {
              "value": "600",
              "label": "600"
            },
            {
              "value": "700",
              "label": "700"
            },
            {
              "value": "800",
              "label": "800"
            },
            {
              "value": "900",
              "label": "900"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "label_font_style",
          "label": "Font style",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "italic",
              "label": "Italic"
            },
            {
              "value": "oblique",
              "label": "Oblique"
            }
          ],
          "default": "normal"
        },
        {
          "type": "range",
          "id": "label_letter_spacing",
          "min": 0,
          "max": 10,
          "step": 0.5,
          "unit": "px",
          "label": "Letter spacing",
          "default": 0
        },
        {
          "type": "select",
          "id": "label_text_decoration",
          "label": "Text Decoration",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "underline",
              "label": "Underline"
            },
            {
              "value": "overline",
              "label": "Overline"
            },
            {
              "value": "line-through",
              "label": "Line Through"
            }
          ],
          "default": "none"
        },
        {
          "type": "color",
          "id": "label_text_decoration_color",
          "label": "Text Decoration Color",
          "default": "#ffffff"
        },
        {
          "type": "range",
          "id": "label_padding_top",
          "label": "Padding Top (px)",
          "default": 5,
          "min": 0,
          "max": 150,
          "step": 5
        },
        {
          "type": "range",
          "id": "label_padding_bottom",
          "label": "Padding Bottom (px)",
          "default": 5,
          "min": 0,
          "max": 150,
          "step": 5
        },
        {
          "type": "header",
          "content": "Save"
        },
        {
          "type": "text",
          "id": "save",
          "label": "Save Text",
          "default": "You save 100"
        },
        {
          "type": "color",
          "id": "save_title_color",
          "label": "Text Color",
          "default": "#000"
        },
        {
          "type": "select",
          "id": "save_text_size",
          "label": "Text Size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "small"
        },
        {
          "type": "select",
          "id": "save_font_weight",
          "label": "Font weight",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "bold",
              "label": "Bold"
            },
            {
              "value": "bolder",
              "label": "Bolder"
            },
            {
              "value": "lighter",
              "label": "Lighter"
            },
            {
              "value": "100",
              "label": "100"
            },
            {
              "value": "200",
              "label": "200"
            },
            {
              "value": "300",
              "label": "300"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "500",
              "label": "500"
            },
            {
              "value": "600",
              "label": "600"
            },
            {
              "value": "700",
              "label": "700"
            },
            {
              "value": "800",
              "label": "800"
            },
            {
              "value": "900",
              "label": "900"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "save_font_style",
          "label": "Font style",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "italic",
              "label": "Italic"
            },
            {
              "value": "oblique",
              "label": "Oblique"
            }
          ],
          "default": "normal"
        },
        {
          "type": "range",
          "id": "save_letter_spacing",
          "min": 0,
          "max": 10,
          "step": 0.5,
          "unit": "px",
          "label": "Letter spacing",
          "default": 0
        },
        {
          "type": "select",
          "id": "save_text_decoration",
          "label": "Text Decoration",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "underline",
              "label": "Underline"
            },
            {
              "value": "overline",
              "label": "Overline"
            },
            {
              "value": "line-through",
              "label": "Line Through"
            }
          ],
          "default": "none"
        },
        {
          "type": "color",
          "id": "save_text_decoration_color",
          "label": "Text Decoration Color",
          "default": "#ffffff"
        },
        {
          "type": "range",
          "id": "save_padding_top",
          "label": "Padding Top (px)",
          "default": 5,
          "min": 0,
          "max": 150,
          "step": 5
        },
        {
          "type": "range",
          "id": "save_padding_bottom",
          "label": "Padding Bottom (px)",
          "default": 5,
          "min": 0,
          "max": 150,
          "step": 5
        },
        {
          "type": "header",
          "content": "Button"
        },
         {
          "type": "text",
      "id": "button_label",
      "default": "t:sections.multicolumn.settings.button_label.default",
      "label": "t:sections.multicolumn.settings.button_label.label", 
      "info": "t:sections.multicolumn.settings.button_label.info"
    },
       {
      "type": "color",
      "id": "button_background_color",
      "label": "Button Background Color",
      "default": "#0073e6"
    },
    {
      "type": "range",
      "id": "button_font_size",
      "label": "Input Font Size (px)",
      "default": 10,
      "min": 10,
      "max": 24,
      "step": 1
    },
    {
      "type": "select",
      "id": "button_font_weight",
      "label": "Font weight",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "bold",
          "label": "Bold"
        },
        {
          "value": "bolder",
          "label": "Bolder"
        },
        {
          "value": "lighter",
          "label": "Lighter"
        },
        {
          "value": "100",
          "label": "100"
        },
        {
          "value": "200",
          "label": "200"
        },
        {
          "value": "300",
          "label": "300"
        },
        {
          "value": "400",
          "label": "400"
        },
        {
          "value": "500",
          "label": "500"
        },
        {
          "value": "600",
          "label": "600"
        },
        {
          "value": "700",
          "label": "700"
        },
        {
          "value": "800",
          "label": "800"
        },
        {
          "value": "900",
          "label": "900"
        }
      ],
      "default": "normal"
    },
    {
      "type": "select",
      "id": "button_text_transform",
      "label": "Text Transform",
      "default": "uppercase",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "initial",
          "label": "Initial"
        },
        {
          "value": "inherit",
          "label": "Inherit"
        }
      ]
    },
    {
      "type": "range",
      "id": "button_letter_spacing",
      "min": 0,
      "max": 10,
      "step": 0.1,
      "unit": "px",
      "label": "Letter spacing",
      "default": 0
    },
    {
      "type": "select",
      "id": "button_text_decoration",
      "label": "Text Decoration",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "underline",
          "label": "Underline"
        },
        {
          "value": "overline",
          "label": "Overline"
        },
        {
          "value": "line-through",
          "label": "Line Through"
        }
      ],
      "default": "none"
    },
    {
      "type": "color",
      "id": "button_border_color",
      "label": "Button Border Color",
      "default": "#005bb5"
    },
    {
      "type": "range",
      "id": "button_border_radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Input border radius",
      "default": 4
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_hover_background_color",
      "label": "Button Hover Background Color",
      "default": "#005bb5"
    },
    {
      "type": "color",
      "id": "button_hover_text_color",
      "label": "Button Hover Text Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_hover_border_color",
      "label": "Button Hover Border Color",
      "default": "#003f7f"
    },
    {
      "type": "range",
      "id": "button_padding_vertical",
      "min": 5,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Button Vertical Padding",
      "default": 12
    },
    {
      "type": "range",
      "id": "button_padding_horizontal",
      "min": 10,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Button Horizontal Padding",
      "default": 30
    },
    {
      "type": "range",
      "id": "button_min_width",
      "label": "Button Minimum Width (px)",
      "min": 50,
      "max": 500,
      "step": 10,
      "default": 160,
      "unit": "px"
    },
        {
          "type": "header",
          "content": "Included Items"
        },
        {
          "type": "textarea",
          "id": "included_items",
          "label": "Included Items (comma-separated)",
          "default": "Included item 1,Included item 2"
        },
        {
          "type": "select",
          "id": "included_items_text_size",
          "label": "Text Size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "small"
        },
        {
          "type": "select",
          "id": "included_items_font_weight",
          "label": "Font weight",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "bold",
              "label": "Bold"
            },
            {
              "value": "bolder",
              "label": "Bolder"
            },
            {
              "value": "lighter",
              "label": "Lighter"
            },
            {
              "value": "100",
              "label": "100"
            },
            {
              "value": "200",
              "label": "200"
            },
            {
              "value": "300",
              "label": "300"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "500",
              "label": "500"
            },
            {
              "value": "600",
              "label": "600"
            },
            {
              "value": "700",
              "label": "700"
            },
            {
              "value": "800",
              "label": "800"
            },
            {
              "value": "900",
              "label": "900"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "included_items_font_style",
          "label": "Font style",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "italic",
              "label": "Italic"
            },
            {
              "value": "oblique",
              "label": "Oblique"
            }
          ],
          "default": "normal"
        },
        {
          "type": "range",
          "id": "included_items_letter_spacing",
          "min": 0,
          "max": 10,
          "step": 0.5,
          "unit": "px",
          "label": "Letter spacing",
          "default": 0
        },
        {
          "type": "select",
          "id": "included_items_text_decoration",
          "label": "Text Decoration",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "underline",
              "label": "Underline"
            },
            {
              "value": "overline",
              "label": "Overline"
            },
            {
              "value": "line-through",
              "label": "Line Through"
            }
          ],
          "default": "none"
        },
        {
          "type": "color",
          "id": "included_items_text_decoration_color",
          "label": "Text Decoration Color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "included_items_padding_top",
          "label": "Padding Top (px)",
          "default": 5,
          "min": 0,
          "max": 150,
          "step": 5
        },
        {
          "type": "range",
          "id": "included_items_padding_bottom",
          "label": "Padding Bottom (px)",
          "default": 5,
          "min": 0,
          "max": 150,
          "step": 5
        },
        {
          "type": "header",
          "content": "Excluded Items"
        },
        {
          "type": "textarea",
          "id": "excluded_items",
          "label": "Excluded Items",
          "default": "Excluded Items"
        },
        {
          "type": "select",
          "id": "excluded_items_text_size",
          "label": "Text Size",
          "options": [
            {
              "value": "small",
              "label": "Small"
            },
            {
              "value": "medium",
              "label": "Medium"
            },
            {
              "value": "large",
              "label": "Large"
            }
          ],
          "default": "small"
        },
        {
          "type": "select",
          "id": "excluded_items_font_weight",
          "label": "Font weight",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "bold",
              "label": "Bold"
            },
            {
              "value": "bolder",
              "label": "Bolder"
            },
            {
              "value": "lighter",
              "label": "Lighter"
            },
            {
              "value": "100",
              "label": "100"
            },
            {
              "value": "200",
              "label": "200"
            },
            {
              "value": "300",
              "label": "300"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "500",
              "label": "500"
            },
            {
              "value": "600",
              "label": "600"
            },
            {
              "value": "700",
              "label": "700"
            },
            {
              "value": "800",
              "label": "800"
            },
            {
              "value": "900",
              "label": "900"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "excluded_items_font_style",
          "label": "Font style",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "italic",
              "label": "Italic"
            },
            {
              "value": "oblique",
              "label": "Oblique"
            }
          ],
          "default": "normal"
        },
        {
          "type": "range",
          "id": "excluded_items_letter_spacing",
          "min": 0,
          "max": 10,
          "step": 0.5,
          "unit": "px",
          "label": "Letter spacing",
          "default": 0
        },
        {
          "type": "select",
          "id": "excluded_items_text_decoration",
          "label": "Text Decoration",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "underline",
              "label": "Underline"
            },
            {
              "value": "overline",
              "label": "Overline"
            },
            {
              "value": "line-through",
              "label": "Line Through"
            }
          ],
          "default": "none"
        },
        {
          "type": "color",
          "id": "excluded_items_text_decoration_color",
          "label": "Text Decoration Color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "excluded_items_padding_top",
          "label": "Padding Top (px)",
          "default": 5,
          "min": 0,
          "max": 150,
          "step": 5
        },
        {
          "type": "range",
          "id": "excluded_items_padding_bottom",
          "label": "Padding Bottom (px)",
          "default": 5,
          "min": 0,
          "max": 150,
          "step": 5
        },
      ]
    },
  ],
  "presets": [
    {
      "name": "compare table",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}
