<div class="custom-section">
  {% for block in section.blocks %}
    <div class="block-item" style="color: {{ block.settings.text_color }}">
      {% if block.type == 'column' %}
        <p>{{ block.settings.heading }}</p>
      {% elsif block.type == 'form' %}
        <form action="#" method="post">
          <input type="text" placeholder="Enter your text">
          <button type="submit">Submit</button>
        </form>
        {% elsif block.type == 'grid' %}
        <div class="grid-block">
          <h3>{{ block.settings.title }}</h3>
          <p>{{ block.settings.text }}</p>
          <button>{{ block.settings.btn }}</button>
        </div>
      {% endif %}
    </div>
    {% endfor %}}
  
   





{% schema %}
{
  "name": "Lean code group",
  "settings": [],
  "blocks": [
    {
      "type": "column",
      "name": "Heading",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Main Heading",
          "label": "Heading"
        },
        {
          "type": "color",
          "id": "text_color",
          "label": "Text color",
          "default": "#ffffff"
        }
      ]
    },
    {
      "type": "form",
      "name": "Form",
      "settings": [
        {
          "type": "text",
          "id": "placeholder",
          "default": "Enter your text",
          "label": "Placeholder Text"
        }
      ]
    },
    {
      "type": "grid",
      "name": "Grid Block",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "btn",
          "label": "Button"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Lean code group",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "form"
        },
        {
          "type": "grid"
        }
      ]
    }
  ]
}
{% endschema %}
