{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  #shopify-section-{{ section.id }} .multicolumn-card__info h3 {
    font-size: {{ section.settings.heading_font_size_mobile }}px;
    color: {{ section.settings.heading_color }};
    margin-bottom: {{ section.settings.heading_spacing }}px;
    {% if section.settings.heading_uppercase %}
      text-transform: uppercase;
    {% endif %}
    font-weight: {{ section.settings.heading_font_weight }};
  }

  #shopify-section-{{ section.id }} .multicolumn-card__info .rte {
    font-size: {{ section.settings.text_font_size_mobile }}px;
    color: {{ section.settings.text_color }};
    line-height: 1.4;
  }

  #shopify-section-{{ section.id }} .multicolumn-card {
    background-color: {{ section.settings.column_bg_color }};
    padding: {{ section.settings.column_padding }}px;
    height: 100%;
    border-radius: {{ section.settings.column_border_radius }}px;
    border: {{ section.settings.column_border_thickness }}px solid {{ section.settings.column_border_color }};
  }

  @media screen and (min-width: 750px) {
    #shopify-section-{{ section.id }} .multicolumn-card__info h3 {
      font-size: {{ section.settings.heading_font_size_desktop }}px;
    }
    
    #shopify-section-{{ section.id }} .multicolumn-card__info .rte {
      font-size: {{ section.settings.text_font_size_desktop }}px;
    }
  }

  #shopify-section-{{ section.id }} .multicolumn {
    background-color: {{ section.settings.section_bg_color }};
    {% if section.settings.section_bg_image != blank %}
      background-image: url({{ section.settings.section_bg_image | image_url }});
      background-size: {{ section.settings.bg_image_size }};
      background-position: {{ section.settings.bg_image_position }};
      background-repeat: {{ section.settings.bg_image_repeat }};
    {% endif %}
  }

  #shopify-section-{{ section.id }} .multicolumn-card__image-wrapper {
    margin-bottom: {{ section.settings.image_spacing }}px;
  }

  #shopify-section-{{ section.id }} .multicolumn-card__image {
    border-radius: {{ section.settings.image_border_radius }}px;
    object-fit: {{ section.settings.image_fit }};
  }
{%- endstyle -%}

<div class="multicolumn color-{{ section.settings.color_scheme }} gradient{% unless section.settings.background_style == 'none' and settings.text_boxes_border_thickness > 0 or settings.text_boxes_shadow_opacity > 0 %} background-{{ section.settings.background_style }}{% endunless %}{% if section.settings.title == blank %} no-heading{% endif %}">
  <div
    class="page-width section-{{ section.id }}-padding isolate{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    {%- unless section.settings.title == blank -%}
      <div class="title-wrapper-with-link title-wrapper--self-padded-mobile title-wrapper--no-top-margin multicolumn__title">
        <h2 class="title inline-richtext {{ section.settings.heading_size }}" style="color: {{ section.settings.section_heading_color }}; text-align: {{ section.settings.heading_alignment }};">
          {{ section.settings.title }}
        </h2>
        {%- if section.settings.button_label != blank and show_mobile_slider -%}
          <a href="{{ section.settings.button_link }}" class="link underlined-link large-up-hide">
            {{- section.settings.button_label | escape -}}
          </a>
        {%- endif -%}
      </div>
    {%- endunless -%}
    <slider-component class="slider-mobile-gutter">
      <ul
        class="multicolumn-list contains-content-container grid grid--{{ section.settings.columns_mobile }}-col-tablet-down grid--{{ section.settings.columns_desktop }}-col-desktop{% if show_mobile_slider %} slider slider--tablet grid--peek{% endif %}"
        id="Slider-{{ section.id }}"
        role="list"
      >
        {%- liquid
          assign highest_ratio = 0
          for block in section.blocks
            if block.settings.image.aspect_ratio > highest_ratio
              assign highest_ratio = block.settings.image.aspect_ratio
            endif
          endfor
        -%}
        {%- for block in section.blocks -%}
          {%- assign empty_column = '' -%}
          {%- if block.settings.image == blank
            and block.settings.title == blank
            and block.settings.text == blank
            and block.settings.link_label == blank
          -%}
            {%- assign empty_column = ' multicolumn-list__item--empty' -%}
          {%- endif -%}

          <li
            id="Slide-{{ section.id }}-{{ forloop.index }}"
            class="multicolumn-list__item grid__item{% if section.settings.swipe_on_mobile %} slider__slide{% endif %}{% if section.settings.column_alignment == 'center' %} center{% endif %}{{ empty_column }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
            {{ block.shopify_attributes }}
            {% if settings.animations_reveal_on_scroll %}
              data-cascade
              style="--animation-order: {{ forloop.index }};"
            {% endif %}
          >
            <div class="multicolumn-card content-container">
              {%- if block.settings.image != blank -%}
                {% if section.settings.image_ratio == 'adapt' or section.settings.image_ratio == 'circle' %}
                  {% assign spaced_image = true %}
                {% endif %}
                <div class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ section.settings.image_width }}-width{% if section.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}">
                  <div
                    class="media media--transparent media--{{ section.settings.image_ratio }}"
                    {% if section.settings.image_ratio == 'adapt' %}
                      style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                    {% endif %}
                  >
                    {%- liquid
                      assign number_of_columns = section.settings.columns_desktop
                      assign number_of_columns_mobile = section.settings.columns_mobile
                      assign grid_space_desktop = number_of_columns | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                      assign grid_space_tablet = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                      assign grid_space_mobile = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | divided_by: 2 | plus: 30 | append: 'px'
                      if section.settings.image_width == 'half'
                        assign image_width = 0.5
                      elsif section.settings.image_width == 'third'
                        assign image_width = 0.33
                      else
                        assign image_width = 1
                      endif
                    -%}
                    {% capture sizes %}
                      (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ grid_space_desktop }}) * {{ image_width }} /  {{ number_of_columns }}),
                      (min-width: 990px) calc((100vw - {{ grid_space_desktop }}) * {{ image_width }} / {{ number_of_columns }}),
                      (min-width: 750px) calc((100vw - {{ grid_space_tablet }}) * {{ image_width }} / {{ number_of_columns_mobile }}),
                      calc((100vw - {{ grid_space_mobile }}) * {{ image_width }} / {{ number_of_columns_mobile }})
                    {% endcapture %}
                    {{
                      block.settings.image
                      | image_url: width: 3200
                      | image_tag:
                        widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                        sizes: sizes,
                        class: 'multicolumn-card__image',
                        style: 'max-height: ' | append: section.settings.image_max_height | append: 'px; width: ' | append: section.settings.image_max_width | append: '%; margin: 0 auto;'
                    }}
                  </div>
                </div>
              {%- endif -%}
              <div class="multicolumn-card__info" style="text-align: {{ section.settings.content_alignment }};">
                {%- if block.settings.title != blank -%}
                  <h3 class="inline-richtext">{{ block.settings.title }}</h3>
                {%- endif -%}
                {%- if block.settings.text != blank -%}
                  <div class="rte">{{ block.settings.text }}</div>
                {%- endif -%}
                {%- if block.settings.link_label != blank -%}
                  <a
                    class="link animate-arrow"
                    {% if block.settings.link == blank %}
                      role="link" aria-disabled="true"
                    {% else %}
                      href="{{ block.settings.link }}"
                    {% endif %}
                    style="color: {{ section.settings.link_color }};"
                  >
                    {{- block.settings.link_label | escape -}}
                    <span class="svg-wrapper"
                      ><span class="icon-wrap">&nbsp;{{ 'icon-arrow.svg' | inline_asset_content }}</span></span
                    >
                  </a>
                {%- endif -%}
              </div>
            </div>
          </li>
        {%- endfor -%}
      </ul>

      {%- if show_mobile_slider -%}
        <div class="slider-buttons large-up-hide">
          <button
            type="button"
            class="slider-button slider-button--prev"
            name="previous"
            aria-label="{{ 'general.slider.previous_slide' | t }}"
          >
            <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
          </button>
          <div class="slider-counter caption">
            <span class="slider-counter--current">1</span>
            <span aria-hidden="true"> / </span>
            <span class="visually-hidden">{{ 'general.slider.of' | t }}</span>
            <span class="slider-counter--total">{{ section.blocks.size }}</span>
          </div>
          <button
            type="button"
            class="slider-button slider-button--next"
            name="next"
            aria-label="{{ 'general.slider.next_slide' | t }}"
          >
            <span class="svg-wrapper">{{ 'icon-caret.svg' | inline_asset_content }}</span>
          </button>
        </div>
      {%- endif -%}
    </slider-component>
    <div class="center{% if show_mobile_slider %} small-hide medium-hide{% endif %}">
      {%- if section.settings.button_label != blank -%}
        <a
          class="button button--primary"
          {% if section.settings.button_link == blank %}
            role="link" aria-disabled="true"
          {% else %}
            href="{{ section.settings.button_link }}"
          {% endif %}
          style="background-color: {{ section.settings.button_bg_color }}; color: {{ section.settings.button_text_color }};"
        >
          {{ section.settings.button_label | escape }}
        </a>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "RW Enhanced Multicolumn",
  "class": "section",
  "tag": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "title",
      "default": "Multicolumn section",
      "label": "Heading"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "h2",
          "label": "Small"
        },
        {
          "value": "h1",
          "label": "Medium"
        },
        {
          "value": "h0",
          "label": "Large"
        },
        {
          "value": "hxl",
          "label": "Extra Large"
        },
        {
          "value": "hxxl",
          "label": "XXL"
        }
      ],
      "default": "h1",
      "label": "Heading size"
    },
    {
      "type": "color",
      "id": "section_heading_color",
      "label": "Heading color",
      "default": "#000000"
    },
    {
      "type": "select",
      "id": "heading_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Heading alignment"
    },
    {
      "type": "header",
      "content": "Section styling"
    },
    {
      "type": "color",
      "id": "section_bg_color",
      "label": "Background color",
      "default": "#ffffff"
    },
    {
      "type": "image_picker",
      "id": "section_bg_image",
      "label": "Background image"
    },
    {
      "type": "select",
      "id": "bg_image_size",
      "label": "Background image size",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        },
        {
          "value": "auto",
          "label": "Auto"
        }
      ],
      "default": "cover"
    },
    {
      "type": "select",
      "id": "bg_image_position",
      "label": "Background image position",
      "options": [
        {
          "value": "top left",
          "label": "Top left"
        },
        {
          "value": "top center",
          "label": "Top center"
        },
        {
          "value": "top right",
          "label": "Top right"
        },
        {
          "value": "center left",
          "label": "Center left"
        },
        {
          "value": "center center",
          "label": "Center"
        },
        {
          "value": "center right",
          "label": "Center right"
        },
        {
          "value": "bottom left",
          "label": "Bottom left"
        },
        {
          "value": "bottom center",
          "label": "Bottom center"
        },
        {
          "value": "bottom right",
          "label": "Bottom right"
        }
      ],
      "default": "center center"
    },
    {
      "type": "select",
      "id": "bg_image_repeat",
      "label": "Background image repeat",
      "options": [
        {
          "value": "repeat",
          "label": "Repeat"
        },
        {
          "value": "no-repeat",
          "label": "No repeat"
        },
        {
          "value": "repeat-x",
          "label": "Repeat horizontally"
        },
        {
          "value": "repeat-y",
          "label": "Repeat vertically"
        }
      ],
      "default": "no-repeat"
    },
    {
      "type": "header",
      "content": "Column styling"
    },
    {
      "type": "color",
      "id": "column_bg_color",
      "label": "Column background color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "column_border_color",
      "label": "Column border color",
      "default": "#e0e0e0"
    },
    {
      "type": "range",
      "id": "column_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Column border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "column_border_radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Column border radius",
      "default": 0
    },
    {
      "type": "range",
      "id": "column_padding",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Column padding",
      "default": 20
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center",
      "label": "Content alignment"
    },
    {
      "type": "header",
      "content": "Typography"
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Column heading color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "heading_font_size_mobile",
      "min": 10,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Column heading font size (mobile)",
      "default": 18
    },
    {
      "type": "range",
      "id": "heading_font_size_desktop",
      "min": 10,
      "max": 60,
      "step": 1,
      "unit": "px",
      "label": "Column heading font size (desktop)",
      "default": 22
    },
    {
      "type": "range",
      "id": "heading_font_weight",
      "min": 300,
      "max": 900,
      "step": 100,
      "label": "Column heading font weight",
      "default": 600
    },
    {
      "type": "checkbox",
      "id": "heading_uppercase",
      "label": "Uppercase headings",
      "default": false
    },
    {
      "type": "range",
      "id": "heading_spacing",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Heading bottom spacing",
      "default": 10
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Column text color",
      "default": "#555555"
    },
    {
      "type": "range",
      "id": "text_font_size_mobile",
      "min": 10,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Column text font size (mobile)",
      "default": 14
    },
    {
      "type": "range",
      "id": "text_font_size_desktop",
      "min": 10,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Column text font size (desktop)",
      "default": 16
    },
    {
      "type": "color",
      "id": "link_color",
      "label": "Link color",
      "default": "#0066cc"
    },
    {
      "type": "header",
      "content": "Image settings"
    },
    {
      "type": "select",
      "id": "image_width",
      "options": [
        {
          "value": "third",
          "label": "Third"
        },
        {
          "value": "half",
          "label": "Half"
        },
        {
          "value": "full",
          "label": "Full"
        }
      ],
      "default": "full",
      "label": "Image width"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "square",
          "label": "Square"
        },
        {
          "value": "circle",
          "label": "Circle"
        }
      ],
      "default": "adapt",
      "label": "Image ratio"
    },
    {
      "type": "range",
      "id": "image_max_width",
      "min": 10,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Image max width",
      "default": 100,
      "info": "Adjust the width of the image within the column"
    },
    {
      "type": "range",
      "id": "image_max_height",
      "min": 50,
      "max": 800,
      "step": 10,
      "unit": "px",
      "label": "Image max height",
      "default": 300,
      "info": "Adjust the height of the image"
    },
    {
      "type": "range",
      "id": "image_border_radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Image border radius",
      "default": 0
    },
    {
      "type": "range",
      "id": "image_spacing",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Image bottom spacing",
      "default": 15
    },
    {
      "type": "select",
      "id": "image_fit",
      "label": "Image fit",
      "options": [
        {
          "value": "cover",
          "label": "Cover"
        },
        {
          "value": "contain",
          "label": "Contain"
        },
        {
          "value": "fill",
          "label": "Fill"
        }
      ],
      "default": "cover"
    },
    {
      "type": "header",
      "content": "Button settings"
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "type": "color",
      "id": "button_bg_color",
      "label": "Button background color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text color",
      "default": "#ffffff"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3,
      "label": "Number of columns on desktop"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "1 column"
        },
        {
          "value": "2",
          "label": "2 columns"
        }
      ],
      "default": "1",
      "label": "Number of columns on mobile"
    },
    {
      "type": "checkbox",
      "id": "swipe_on_mobile",
      "default": false,
      "label": "Enable swipe on mobile"
    },
    {
      "type": "header",
      "content": "Spacing"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top padding",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom padding",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "column",
      "name": "Column",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "default": "Column heading",
          "label": "Heading"
        },
        {
          "type": "richtext",
          "id": "text",
          "default": "<p>Pair text with an image to focus on your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "link_label",
          "label": "Link label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "RW Enhanced Multicolumn",
      "blocks": [
        {
          "type": "column",
          "settings": {
            "title": "CLICK AND COLLECT",
            "text": "<p>Just 10% deposit. Pay the rest on collection. Same price online & instore!</p>"
          }
        },
        {
          "type": "column",
          "settings": {
            "title": "WE SHIP WORLDWIDE",
            "text": "<p>Competitive prices in the EU & selected countries worldwide.</p>"
          }
        },
        {
          "type": "column",
          "settings": {
            "title": "OVER 20,000 PRODUCTS",
            "text": "<p>In stock at our store and warehouse, ready to ship directly to you!</p>"
          }
        }
      ]
    }
  ]
}
{% endschema %}