{%- assign sec_id = '#shopify-section-' | append: section.id -%}
{%- assign parts = sec_id | split: '_' -%}
{%- assign last_lower = parts | last -%}
{%- assign last_part = last_lower | downcase -%}

<style>
  {{ sec_id }} .pc-parallax-section-container {
    overflow: hidden;
    {% if section.settings.container_width != 'full' %}
    max-width: {{ section.settings.custom_container_width }}px;
    margin: 0 auto;
    {% endif %}
    margin-top: {{ section.settings.section_margin_top }}px;
    margin-bottom: {{ section.settings.section_margin_bottom }}px;
  }
  
  {{ sec_id }} .pc-parallax {
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    overflow: hidden;
  }
  
  {{ sec_id }} .pc-text-block-{{ last_part }} {
    position: absolute;
    top: {{ section.settings.text_position }}%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    text-align: {{ section.settings.text_alignment }};
  }
  
  {{ sec_id }} .pc-heading-{{ last_part }} {
    font-size: {{ section.settings.heading_size }}px;
    letter-spacing: {{ section.settings.heading_letter_spacing }}px;
    font-weight: {{ section.settings.heading_font_weight }};
    font-style: {{ section.settings.heading_font_style }};
    color: {{ section.settings.heading_color }};
    text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.3);
    padding-top: {{ section.settings.heading_padding_top }}px;
    padding-bottom: {{ section.settings.heading_padding_bottom }}px;
    text-decoration: {{ section.settings.heading_text_decoration }};
    {% if section.settings.heading_text_decoration != 'none' %}
    text-decoration-color: {{ section.settings.heading_text_decoration_color }};
    {% endif %}
  }
  
  {{ sec_id }} .pc-subheading-{{ last_part }} {
    font-size: {{ section.settings.subheading_size }}px;
    letter-spacing: {{ section.settings.subheading_letter_spacing }}px;
    color: {{ section.settings.subheading_color }};
    font-weight: {{ section.settings.subheading_font_weight }};
    font-style: {{ section.settings.subheading_font_style }};
    padding-top: {{ section.settings.subheading_padding_top }}px;
    padding-bottom: {{ section.settings.subheading_padding_bottom }}px;
    text-decoration: {{ section.settings.subheading_text_decoration }};
    {% if section.settings.subheading_text_decoration != 'none' %}
    text-decoration-color: {{ section.settings.subheading_text_decoration_color }};
    {% endif %}
  }
  
  {{ sec_id }} .pc-button-{{ last_part }} {
    font-size: {{ section.settings.button_size }}px;
    letter-spacing: {{ section.settings.letter_spacing }}px;
    border-color: {{ section.settings.button_border_color }};
    background: transparent;
    color: {{ section.settings.button_text_color }};
    font-weight: {{ section.settings.button_font_weight }};
    text-transform: {{ section.settings.button_text_transform }};
    text-decoration: {{ section.settings.button_text_decoration }};
    {% if section.settings.button_text_decoration != 'none' %}
    text-decoration-color: {{ section.settings.button_text_decoration_color }};
    {% endif %}
    padding: {{ section.settings.button_padding_vertical }}px {{ section.settings.button_padding_horizontal }}px;
    min-width: {{ section.settings.button_min_width }}px;
    display: inline-block;
    text-align: center;
  }
  
  {{ sec_id }} .pc-parallax-overlay-{{ last_part }}::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: {{ section.settings.overlay_color }};
    opacity: {{ section.settings.overlay_opacity }}%;
  }
  
  @media only screen and (max-width: 767px) {
    {{ sec_id }} .pc-parallax {
      background-attachment: scroll;
    }
    
    {{ sec_id }} .pc-heading-{{ last_part }} {
      font-size: {{ section.settings.mobile_heading_size }}px;
    }
    
    {{ sec_id }} .pc-subheading-{{ last_part }} {
      font-size: {{ section.settings.mobile_subheading_size }}px;
    }

    {{ sec_id }} .pc-parallax-container {
      {% if section.settings.container_width != 'full' %}
      max-width: 100%;
      padding: 0 15px;
      {% endif %}
    }.
  }
</style>

<div class="pc-parallax-section-container {% if section.settings.full_width %}pc-full-width{% endif %}">
<pc-parallax-{{ last_part }} class="pc-parallax">
  {%- for block in section.blocks -%}
    {%- if block.settings.image != blank -%}
      <div class="pc-parallax pc-parallax-{{ forloop.index }} {% if section.settings.enable_overlay %}pc-parallax-overlay-{{ last_part }}{% endif %}"
        style="
          background-image: url('{{ block.settings.image | image_url: width: 2000 }}');
          height: {{ section.settings.height }}px;
          background-position: center top;
        ">
        <div class="pc-text-block-{{ last_part }}">
          {%- if block.settings.heading != blank -%}
            <div class="pc-heading-{{ last_part }}">
              {{ block.settings.heading }}
            </div>
          {%- endif -%}
          
          {%- if block.settings.subheading != blank -%}
            <div class="pc-subheading-{{ last_part }}">
              {{ block.settings.subheading }}
            </div>
          {%- endif -%}
          
          {%- if block.settings.show_button -%}
            <a href="{{ block.settings.button_link }}" class="pc-button-{{ last_part }} pc-btn pc-btn--tertiary pc-btn--small">
              {{ block.settings.button_label | escape }}
            </a>
          {%- endif -%}
        </div>
      </div>
    {%- else -%}
      <span class="pc-placeholder">
        {{ 'product-1' | placeholder_svg_tag }}
      </span>
    {%- endif -%}
  {%- endfor -%}
</pc-parallax-{{ last_part }}>
</div>

{% schema %}
{
  "name": "RW - Parallax #1",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "custom_container_width",
      "label": "Custom container width",
      "min": 500,
      "max": 2000,
      "step": 50,
      "unit": "px",
      "default": 1200,
    },
    {
      "type": "range",
      "id": "height",
      "label": "Section height",
      "min": 200,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "default": 500
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "Text alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left"
    },
    {
      "type": "range",
      "id": "text_position",
      "label": "Text vertical position",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 50
    },
    {
      "type": "range",
      "id": "section_margin_top",
      "label": "Margin Top (px)",
      "default": 15,
      "min": 0,
      "max": 150,
      "step": 3
    },
    {
      "type": "range",
      "id": "section_margin_bottom",
      "label": "Margin Bottom (px)",
      "default": 15,
      "min": 0,
      "max": 150,
      "step": 3
    },
    {
      "type": "header",
      "content": "Heading Text"
    },
    {
      "type": "range",
      "id": "heading_size",
      "label": "Heading size",
      "min": 12,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 55
    },
    {
      "type": "color",
      "id": "heading_color",
      "label": "Heading Color",
      "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "heading_font_weight",
      "label": "Heading Font weight",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "bold",
          "label": "Bold"
        },
        {
          "value": "bolder",
          "label": "Bolder"
        },
        {
          "value": "lighter",
          "label": "Lighter"
        },
        {
          "value": "100",
          "label": "100"
        },
        {
          "value": "200",
          "label": "200"
        },
        {
          "value": "300",
          "label": "300"
        },
        {
          "value": "400",
          "label": "400"
        },
        {
          "value": "500",
          "label": "500"
        },
        {
          "value": "600",
          "label": "600"
        },
        {
          "value": "700",
          "label": "700"
        },
        {
          "value": "800",
          "label": "800"
        },
        {
          "value": "900",
          "label": "900"
        }
      ],
      "default": "bold"
    },
    {
      "type": "select",
      "id": "heading_font_style",
      "label": "Heading Font style",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "italic",
          "label": "Italic"
        },
        {
          "value": "oblique",
          "label": "Oblique"
        }
      ],
      "default": "normal"
    },
    {
      "type": "range",
      "id": "heading_letter_spacing",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Heading Letter spacing",
      "default": 1
    },
    {
      "type": "select",
      "id": "heading_text_decoration",
      "label": "Heading Text Decoration",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "underline",
          "label": "Underline"
        },
        {
          "value": "overline",
          "label": "Overline"
        },
        {
          "value": "line-through",
          "label": "Line Through"
        }
      ],
      "default": "none"
    },
    {
      "type": "color",
      "id": "heading_text_decoration_color",
      "label": "Heading Text Decoration Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "heading_padding_top",
      "label": "Heading Padding Top",
      "default": 0,
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "heading_padding_bottom",
      "label": "Heading Padding Bottom",
      "default": 0,
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Subheading Text"
    },
    {
      "type": "range",
      "id": "subheading_size",
      "label": "Subheading size",
      "min": 12,
      "max": 36,
      "step": 1,
      "unit": "px",
      "default": 25
    },
    {
      "type": "color",
      "id": "subheading_color",
      "label": "Subheading Color",
      "default": "#ffffff"
    },
    {
      "type": "select",
      "id": "subheading_font_weight",
      "label": "Subheading Font weight",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "bold",
          "label": "Bold"
        },
        {
          "value": "bolder",
          "label": "Bolder"
        },
        {
          "value": "lighter",
          "label": "Lighter"
        },
        {
          "value": "100",
          "label": "100"
        },
        {
          "value": "200",
          "label": "200"
        },
        {
          "value": "300",
          "label": "300"
        },
        {
          "value": "400",
          "label": "400"
        },
        {
          "value": "500",
          "label": "500"
        },
        {
          "value": "600",
          "label": "600"
        },
        {
          "value": "700",
          "label": "700"
        },
        {
          "value": "800",
          "label": "800"
        },
        {
          "value": "900",
          "label": "900"
        }
      ],
      "default": "normal"
    },
    {
      "type": "select",
      "id": "subheading_font_style",
      "label": "Subheading Font style",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "italic",
          "label": "Italic"
        },
        {
          "value": "oblique",
          "label": "Oblique"
        }
      ],
      "default": "normal"
    },
    {
      "type": "range",
      "id": "subheading_letter_spacing",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "Subheading Letter spacing",
      "default": 0
    },
    {
      "type": "select",
      "id": "subheading_text_decoration",
      "label": "Subheading Text Decoration",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "underline",
          "label": "Underline"
        },
        {
          "value": "overline",
          "label": "Overline"
        },
        {
          "value": "line-through",
          "label": "Line Through"
        }
      ],
      "default": "none"
    },
    {
      "type": "color",
      "id": "subheading_text_decoration_color",
      "label": "Subheading Text Decoration Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "subheading_padding_top",
      "label": "Subheading Padding Top",
      "default": 5,
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "subheading_padding_bottom",
      "label": "Subheading Padding Bottom",
      "default": 5,
      "min": 0,
      "max": 150,
      "step": 5,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "range",
      "id": "button_size",
      "label": "Button Font size",
      "min": 12,
      "max": 36,
      "step": 1,
      "unit": "px",
      "default": 18
    },
    {
      "type": "select",
      "id": "button_font_weight",
      "label": "Button Font weight",
      "options": [
        {
          "value": "normal",
          "label": "Normal"
        },
        {
          "value": "bold",
          "label": "Bold"
        },
        {
          "value": "bolder",
          "label": "Bolder"
        },
        {
          "value": "lighter",
          "label": "Lighter"
        },
        {
          "value": "100",
          "label": "100"
        },
        {
          "value": "200",
          "label": "200"
        },
        {
          "value": "300",
          "label": "300"
        },
        {
          "value": "400",
          "label": "400"
        },
        {
          "value": "500",
          "label": "500"
        },
        {
          "value": "600",
          "label": "600"
        },
        {
          "value": "700",
          "label": "700"
        },
        {
          "value": "800",
          "label": "800"
        },
        {
          "value": "900",
          "label": "900"
        }
      ],
      "default": "normal"
    },
    {
      "type": "select",
      "id": "button_text_transform",
      "label": "Button Text Transform",
      "default": "uppercase",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "capitalize",
          "label": "Capitalize"
        },
        {
          "value": "uppercase",
          "label": "Uppercase"
        },
        {
          "value": "lowercase",
          "label": "Lowercase"
        },
        {
          "value": "initial",
          "label": "Initial"
        },
        {
          "value": "inherit",
          "label": "Inherit"
        }
      ]
    },
    {
      "type": "select",
      "id": "button_text_decoration",
      "label": "Button Text Decoration",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "underline",
          "label": "Underline"
        },
        {
          "value": "overline",
          "label": "Overline"
        },
        {
          "value": "line-through",
          "label": "Line Through"
        }
      ],
      "default": "underline"
    },
     {
      "type": "range",
      "id": "letter_spacing",
      "label": "Button letter spacing",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "default": 1
    },
    {
      "type": "color",
      "id": "button_text_decoration_color",
      "label": "Button Text Decoration Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_border_color",
      "label": "Button Border Color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button Text Color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "button_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Button Vertical Padding",
      "default": 5
    },
    {
      "type": "range",
      "id": "button_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Button Horizontal Padding",
      "default": 5
    },
    {
      "type": "range",
      "id": "button_min_width",
      "label": "Button Minimum Width",
      "min": 50,
      "max": 500,
      "step": 10,
      "default": 50,
      "unit": "px"
    },
    {
      "type": "header",
      "content": "Overlay Settings"
    },
    {
      "type": "checkbox",
      "id": "enable_overlay",
      "label": "Enable overlay",
      "default": true
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "Overlay opacity",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 50
    },
    {
      "type": "header",
      "content": "Mobile Settings"
    },
    {
      "type": "range",
      "id": "mobile_heading_size",
      "label": "Mobile heading size",
      "min": 12,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 30
    },
    {
      "type": "range",
      "id": "mobile_subheading_size",
      "label": "Mobile subheading size",
      "min": 12,
      "max": 30,
      "step": 1,
      "unit": "px",
      "default": 18
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "header",
          "content": "Heading Settings"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading",
          "default": "Heading"
        },  
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading",
          "default": "Subheading"
        },
        {
          "type": "checkbox",
          "id": "show_button",
          "label": "Click Here",
          "default": true
        },
        {
          "type": "text",
          "id": "button_label",
          "label": "Button label",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "RW - Parallax #1",
      "category": "Image",
      "blocks": [
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}