
{% style %}
  :root {
    --color-primary: {{ section.settings.primary_color }};
    --color-bg: {{ section.settings.bg_color }};
    --color-light: #fff;
    --color-text-dark: #0d0925;
    --color-text-medium: #4e4a67;
    --color-text-light: #7b7992;
    --color-bg-medium: #4e4a67;
    --spacing-base: 4px;
    --gradient-bg: linear-gradient(45deg, #4527a0, #6a1b9a);
    --shadow-base: 0px 14px 80px rgba(34, 35, 58, 0.2);
    --shadow-colored: rgba(255, 54, 110, 0.2) 0px 0px 5px 0px,
                      rgba(255, 54, 110, 0.4) 0px 3px 20px 0px,
                      rgba(255, 54, 110, 0.3) 0px 10px 28px 0px;
  }

  .testimonials-swiper-section {
    background: var(--color-bg);
    padding: 60px 0;
    width: 100%;
  }

  .testimonials-swiper-section h1 {
    margin-bottom: 40px;
    color: var(--color-light);
    font-size: 44px;
    text-align: center;
  }

  .c-card-testimonial {
    display: flex;
    align-items: center;
  }

  .c-card-testimonial__profile {
    width: 300px;
    flex-shrink: 0;
    height: 300px;
    border-radius: 20px;
    transform: translateX(-80px);
    overflow: hidden;
  }
  
  .c-card-testimonial__description {
    padding-right: 25px;
  }
  
  .c-card-testimonial__description > * {
    opacity: 0;
    transform: translateY(25px);
    transition: all 400ms;
  }
  
  .c-card-testimonial__job {
    color: var(--color-text-light);
  }

  .c-card-testimonial__author {
    margin: var(--spacing-base) 0 calc(var(--spacing-base) * 5);
    color: var(--color-text-dark);
    font-size: 24px;
    font-weight: 700;
  }

  .c-card-testimonial__excerpt {
    margin-bottom: 30px;
    color: var(--color-text-medium);
    line-height: 1.5em;
  }

  .c-card-testimonial__link {
    display: inline-flex;
    justify-content: center;
    padding: calc(var(--spacing-base) * 4) calc(var(--spacing-base) * 8);
    color: var(--color-light);
    background-color: var(--color-primary);
    border-radius: 50px;
    letter-spacing: 1px;
    box-shadow: var(--shadow-colored);
    text-transform: uppercase;
  }

  .c-card-testimonial__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    opacity: 0;
    transition: all .3s;
  }

  .c-testimonials {
    width: 95%;
    position: relative;
    max-width: 800px;
    margin: auto;
    box-shadow: var(--shadow-base);
    padding: calc(var(--spacing-base) * 8);
    border-radius: 25px;
    height: 400px;
    background-color: {{ section.settings.card_bg_color }};
    transition: all 300ms;
  }

  .swiper-slide-active .c-card-testimonial__image {
    opacity: 1;
    transition-delay: 300ms;
  }

  .swiper-slide-active .c-card-testimonial__description > * {
    opacity: 1;
    transform: none;
  }

  .swiper-slide-active .c-card-testimonial__description > *:nth-child(1) {
    transition-delay: 0.3s;
  }

  .swiper-slide-active .c-card-testimonial__description > *:nth-child(2) {
    transition-delay: 0.4s;
  }

  .swiper-slide-active .c-card-testimonial__description > *:nth-child(3) {
    transition-delay: 0.5s;
  }

  .swiper-slide-active .c-card-testimonial__description > *:nth-child(4) {
    transition-delay: 0.6s;
  }

  .swiper-slide-active .c-card-testimonial__description > *:nth-child(5) {
    transition-delay: 0.7s;
  }

  .c-testimonials__pagination {
    position: absolute;
    top: 50%;
    right: calc(var(--spacing-base) * 5);
    bottom: auto!important;
    left: auto!important;
    width: 11px!important;
    text-align: center;
    z-index: 21;
    transform: translateY(-50%);
  }

  .swiper-pagination-bullet {
    display: block;
    width: 11px;
    height: 11px;
    border-radius: 11px;
    background: var(--color-bg-medium);
    transition: all .3s;
    margin: 8px 0;
  }

  .swiper-pagination-bullet-active {
    height: 33px;
    background: var(--color-primary);
  }

  .c-testimonials__arrows {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: calc(var(--spacing-base) * 3);
    display: flex;
    justify-content: center;
  }
  
  .c-testimonials__arrow-next,
  .c-testimonials__arrow-prev {
    position: relative;
    margin-left: calc(var(--spacing-base) * 2);
    cursor: pointer;
    outline: 0;
    border: 0;
    color: var(--color-light);
    background-color: transparent;
    font-size: 16px;
    transition: color 300ms ease;
  }
  
  .c-testimonials__arrow-next::before,
  .c-testimonials__arrow-prev::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    right: 50%;
    height: 1px;
    background-color: var(--color-light);
    transition: all 250ms ease;
  }
  
  .c-testimonials__arrow-next:hover::before,
  .c-testimonials__arrow-prev:hover::before {
    left: 0;
    right: 0;
  }

  @media screen and (max-width: 768px) {
    .c-card-testimonial {
      flex-direction: column;
    }

    .c-card-testimonial__profile {
      transform: translateY(-50%);
      width: 90%;
    }
    
    .c-card-testimonial__description {
      margin-top: -80px;
      text-align: center;
      padding: 0 30px;
    }

    .c-card-testimonial__link {
      width: 100%;
    }

    .c-testimonials {
      min-height: 500px;
      height: auto;
      margin: 180px auto;
    }

    .c-testimonials__pagination {
      top: 205px;
      left: 50%!important;
      width: 100%!important;
      display: flex;
      align-items: center;
      justify-content: center;
      transform: translateX(-50%);
    }

    .swiper-pagination-bullet {
      margin: 0 5px;
    }

    .swiper-pagination-bullet-active {
      height: 11px;
      width: 33px;
    }
  }

  @media screen and (max-width: 576px) {
    .c-card-testimonial__profile {
      width: 95%;
    }
    
    .c-card-testimonial__description {
      padding: 0;
    }
  }

  @media screen and (max-height: 500px) and (min-width: 992px) {
    .c-card-testimonial__profile {
      height: 270px;
    }

    .c-testimonials {
      height: 350px;
    }
  }

  @media screen and (max-width: 992px) {
    .c-testimonials {
      max-width: 680px;
      height: 400px;
    }
  }

  @media screen and (min-width: 768px) {
    .c-testimonials__arrows {
      justify-content: flex-end;
    }
  }
{% endstyle %}

{% javascript %}
  document.addEventListener('DOMContentLoaded', function() {
    var swiper = new Swiper('.c-testimonials', {
      spaceBetween: 30,
      effect: 'fade',
      loop: true,
      mousewheel: {
        invert: false,
      },
      pagination: {
        el: '.c-testimonials__pagination',
        clickable: true
      },
      navigation: {
        nextEl: '.c-testimonials__arrow-next',
        prevEl: '.c-testimonials__arrow-prev',
      }
    });
  });
{% endjavascript %}

<div class="testimonials-swiper-section">
  <h1>{{ section.settings.heading }}</h1>
  
  <div class="c-testimonials">  
    <ul class="c-testimonials__items swiper-wrapper">
      {% for block in section.blocks %}
        {% if block.type == 'testimonial' %}
          <li class="c-testimonials__item c-card-testimonial swiper-slide" {{ block.shopify_attributes }}>
            <div class="c-card-testimonial__profile">
              {% if block.settings.image != blank %}
                <img src="{{ block.settings.image | img_url: '600x600' }}"
                     alt="{{ block.settings.author }}"
                     class="c-card-testimonial__image">
              {% else %}
                <div class="c-card-testimonial__image placeholder-background">
                  {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
              {% endif %}
            </div>

            <div class="c-card-testimonial__description">
              {% if block.settings.job_title != blank %}
                <span class="c-card-testimonial__job">
                  {{ block.settings.job_title }}
                </span>
              {% endif %}

              {% if block.settings.author != blank %}
                <div class="c-card-testimonial__author">
                  {{ block.settings.author }}
                </div>
              {% endif %}

              {% if block.settings.content != blank %}
                <div class="c-card-testimonial__excerpt">
                  {{ block.settings.content }}
                </div>
              {% endif %}

              {% if block.settings.link_url != blank %}
                <a href="{{ block.settings.link_url }}"
                   class="c-card-testimonial__link"
                   target="_blank">
                   {{ block.settings.link_text | default: 'More on Linkedin' }}
                </a>
              {% endif %}
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </ul>

    <div class="c-testimonials__pagination"></div>

    <div class="c-testimonials__arrows">
        <button class="c-testimonials__arrow-prev">Prev</button>
        <button class="c-testimonials__arrow-next">Next</button>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Testimonials Swiper",
  "class": "testimonials-swiper-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Testimonials Swiper JS"
    },
    {
      "type": "color",
      "id": "primary_color",
      "label": "Primary Color",
      "default": "#ff3671"
    },
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background Color",
      "default": "#26242e"
    },
    {
      "type": "color",
      "id": "card_bg_color",
      "label": "Card Background Color",
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Profile Image"
        },
        {
          "type": "text",
          "id": "job_title",
          "label": "Job Title",
          "default": "Bass @AmonTheSign"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author Name",
          "default": "Zzor"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Testimonial Content",
          "default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aliquid ut, explicabo sit fugiat recusandae dolore omnis minus sequi incidunt aut doloribus minima soluta velit, nobis, est eos iste at!</p>"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text",
          "default": "More on Linkedin"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Testimonials Swiper",
      "category": "Custom Sections",
      "blocks": [
        {
          "type": "testimonial"
        },
        {
          "type": "testimonial"
        }
      ]
    }
  ]
}
{% endschema %}