{%- assign sec_id = '#shopify-section-' | append: section.id -%}
{%- assign parts = sec_id | split: '_' -%}
{%- assign last_lower = parts | last -%}
{%- assign last_part = last_lower | downcase -%}

<style>
  {{ sec_id }} .pc-gradient-hero {
    position: relative;
    background: linear-gradient(to bottom right, white, #faf5ff, #f3e8ff);
    color: #18181b;
    padding: 6rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
    overflow: hidden;
  }

   {{ sec_id }} .pc-gradient-hero {
    padding-top: {{ section.settings.padding_top_desktop }}px;
    padding-bottom: {{ section.settings.padding_bottom_desktop }}px;
  }

  {{ sec_id }} .pc-hero-content .pc-hero-title {
    color: {{ section.settings.title_color }};
    font-weight: {{ section.settings.title_font_weight }};
    font-style: {{ section.settings.title_font_style }};
    letter-spacing: {{ section.settings.title_letter_spacing }}px;
    text-decoration: {{ section.settings.title_text_decoration }};
    {% if section.settings.title_text_decoration != 'none' %}
      text-decoration-color: {{ section.settings.title_text_decoration_color }};
    {% endif %}
    padding-top: {{ section.settings.title_padding_top }}px;
    padding-bottom: {{ section.settings.title_padding_bottom }}px;
    margin: 0;
  }

  {{ sec_id }} .pc-hero-content .pc-hero-description {
    color: {{ section.settings.description_color }};
    font-weight: {{ section.settings.description_font_weight }};
    font-style: {{ section.settings.description_font_style }};
    letter-spacing: {{ section.settings.description_letter_spacing }}px;
    text-decoration: {{ section.settings.description_text_decoration }};
    {% if section.settings.description_text_decoration != 'none' %}
      text-decoration-color: {{ section.settings.description_text_decoration_color }};
    {% endif %}
    padding-top: {{ section.settings.description_padding_top }}px;
    padding-bottom: {{ section.settings.description_padding_bottom }}px;
    margin: 0;
  }

  {{ sec_id }} .pc-highlight {
    color: {{ section.settings.highlight_color}} !important;
  }

  {{ sec_id }} .pc-hero-deco {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: max(200%, 100rem);
    opacity: {{ section.settings.wave_opacity }};
    animation: pc-move-{{ last_part }} 20s ease alternate infinite;
  }

  @keyframes pc-move-{{ last_part }} {
    100% {
      transform: translateX(-50%);
    }
  }

  {{ sec_id }} .pc-hero-content {
    max-width: 64rem;
    text-align: center;
    position: relative;
    z-index: 10;
    margin: 5rem auto;
  }

  {{ sec_id }} .pc-hero-title {
    font-size: {{ section.settings.title_size_mobile }}px;
    font-weight: 800;
    margin-bottom: 1rem;
    line-height: 1.2;
    filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03));
  }

  {{ sec_id }} .pc-hero-description {
    font-size: {{ section.settings.description_size_mobile }}px;
    font-weight: 500;
    margin-bottom: 2rem;
    color: #7e22ce;
    opacity: 0.9;
    line-height: 1.5;
  }

  {{ sec_id }} .pc-highlight {
    color: #8b5cf6;
    font-weight: 600;
  }

  {{ sec_id }} .pc-hero-button {
    display: inline-block;
    font-weight: 700;
    padding: 0.75rem 2rem;
    border-radius: 9999px;
    box-shadow: 0 0 32px 4px rgba(167, 139, 250, 0.6);
    transition: background-color 0.3s ease;
    text-decoration: none;
    background-color: {{ section.settings.background_color }};
    color: {{ section.settings.button_text_color }};
    border-radius: {{ section.settings.button_border_radius }}px;
    margin-top: {{ section.settings.button_margin_top }}px;
    margin-bottom: {{ section.settings.button_margin_bottom }}px;
    width: {% if section.settings.button_full_width %}100%{% else %}{{ section.settings.button_width }}px{% endif %};"
   onmouseover="this.style.backgroundColor='{{ section.settings.button_hover_color }}';this.style.color='{{ section.settings.button_text_hover_color }}'"
   onmouseout="this.style.backgroundColor='{{ section.settings.button_color }}';this.style.color='{{ section.settings.button_text_color }}'
  }

  {{ sec_id }} .pc-hero-button:hover {
    background-color: {{ section.settings.button_hover_color }};
    color: {{ section.settings.button_text_hover_color }};
  }

  @media (min-width: 640px) {
    {{ sec_id }} .pc-hero-title {
      font-size: {{ section.settings.title_size_desktop }}px;
    }

    {{ sec_id }} .pc-hero-description {
      font-size: {{ section.settings.description_size_desktop }}px;
    }
  }

  @media (max-width: 768px) {
    {{ sec_id }} .pc-gradient-hero {
      padding-top: {{ section.settings.padding_top_mobile }}px;
      padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
    }
  }
  
</style>

<pc-gradient-hero-{{ last_part }} class="pc-gradient-hero">
  <svg class="pc-hero-deco" xmlns="http://www.w3.org/2000/svg" version="1.1" width="1440" height="560" preserveAspectRatio="none" viewBox="0 0 1440 560">
    <g mask="url(&quot;#SvgjsMask1059&quot;)" fill="none">
      <rect width="1440" height="560" x="0" y="0" fill="{{ section.settings.wave_color_1 }}"></rect>
      <path d="M 0,37 C 72,79.4 216,235.8 360,249 C 504,262.2 576,103 720,103 C 864,103 936,244.6 1080,249 C 1224,253.4 1368,149.8 1440,125L1440 560L0 560z" fill="{{ section.settings.wave_color_2 }}"></path>
      <path d="M 0,356 C 144,384.4 432,513 720,498 C 1008,483 1296,324.4 1440,281L1440 560L0 560z" fill="{{ section.settings.wave_color_3 }}"></path>
    </g>
    <defs>
      <mask id="SvgjsMask1059">
        <rect width="1440" height="560" fill="#ffffff"></rect>
      </mask>
    </defs>
  </svg>

  <div class="pc-hero-content">
    <h1 class="pc-hero-title">{{ section.settings.title }}</h1>
    <p class="pc-hero-description">{{ section.settings.description | replace: 'Bot Foundation', '<span class="pc-highlight">Bot Foundation</span>' }}</p>
    <a href="{{ section.settings.button_link }}" class="pc-hero-button">{{ section.settings.button_text }}</a>
  </div>
</pc-gradient-hero-{{ last_part }}>

{% schema %}
{
  "name": "RW - Wavy Background #1",
  "settings": [
    {
      "type": "header",
      "content": "Content Settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Die solide Grundlage für Ihre individuelle Chatbot-Anwendung"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Entwickeln Sie sichere, zuverlässige und erweiterbare Chatbots schneller. Bot Foundation ist ein Framework, das Ihre individuelle Entwicklung beschleunigt – überspringen Sie das Grundgerüst und konzentrieren Sie sich auf das Wesentliche."
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Button Text",
      "default": "Termin buchen"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button Link"
    },
    {
      "type": "header",
      "content": "Wave Settings"
    },
    {
      "type": "color",
      "id": "wave_color_1",
      "label": "Wave Color 1",
      "default": "#E34D4D"
    },
    {
      "type": "color",
      "id": "wave_color_2",
      "label": "Wave Color 2",
      "default": "#6CC65A"
    },
    {
      "type": "color",
      "id": "wave_color_3",
      "label": "Wave Color 3",
      "default": "#66E1DB"
    },
    {
      "type": "range",
      "id": "wave_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Wave Opacity",
      "default": 0.2
    },
    {
      "type": "header",
      "content": "Typography Settings"
    },
    {
      "type": "header",
      "content": "Title"
    },
    {
      "type": "range",
      "id": "title_size_desktop",
      "label": "Title Size (Desktop)",
      "min": 16,
      "max": 72,
      "step": 1,
      "unit": "px",
      "default": 48
    },
    {
      "type": "range",
      "id": "title_size_mobile",
      "label": "Title Size (Mobile)",
      "min": 16,
      "max": 48,
      "step": 1,
      "unit": "px",
      "default": 36
    },
     {
      "type": "color",
      "id": "title_color",
      "label": "Title Color",
      "default": "#4747E0"
    },
        {
          "type": "select",
          "id": "title_font_weight",
          "label": "Font weight",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "bold",
              "label": "Bold"
            },
            {
              "value": "bolder",
              "label": "Bolder"
            },
            {
              "value": "lighter",
              "label": "Lighter"
            },
            {
              "value": "100",
              "label": "100"
            },
            {
              "value": "200",
              "label": "200"
            },
            {
              "value": "300",
              "label": "300"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "500",
              "label": "500"
            },
            {
              "value": "600",
              "label": "600"
            },
            {
              "value": "700",
              "label": "700"
            },
            {
              "value": "800",
              "label": "800"
            },
            {
              "value": "900",
              "label": "900"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "title_font_style",
          "label": "Font style",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "italic",
              "label": "Italic"
            },
            {
              "value": "oblique",
              "label": "Oblique"
            }
          ],
          "default": "normal"
        },
        {
          "type": "range",
          "id": "title_letter_spacing",
          "min": 0,
          "max": 10,
          "step": 0.5,
          "unit": "px",
          "label": "Letter spacing",
          "default": 0
        },
        {
          "type": "select",
          "id": "title_text_decoration",
          "label": "Text Decoration",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "underline",
              "label": "Underline"
            },
            {
              "value": "overline",
              "label": "Overline"
            },
            {
              "value": "line-through",
              "label": "Line Through"
            }
          ],
          "default": "none"
        },
        {
          "type": "color",
          "id": "title_text_decoration_color",
          "label": "Text Decoration Color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "title_padding_top",
          "label": "Padding Top (px)",
          "default": 5,
          "min": 0,
          "max": 150,
          "step": 5
        },
        {
          "type": "range",
          "id": "title_padding_bottom",
          "label": "Padding Bottom (px)",
          "default": 5,
          "min": 0,
          "max": 150,
          "step": 5
        },
    {
      "type": "header",
      "content": "Description"
    },
    {
      "type": "range",
      "id": "description_size_desktop",
      "label": "Description Size (Desktop)",
      "min": 12,
      "max": 32,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "description_size_mobile",
      "label": "Description Size (Mobile)",
      "min": 12,
      "max": 24,
      "step": 1,
      "unit": "px",
      "default": 18
    },
      {
      "type": "color",
      "id": "description_color",
      "label": "Description Color",
      "default": "#E30B5C"
    },
        {
          "type": "select",
          "id": "description_font_weight",
          "label": "Description Font Weight",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "bold",
              "label": "Bold"
            },
            {
              "value": "bolder",
              "label": "Bolder"
            },
            {
              "value": "lighter",
              "label": "Lighter"
            },
            {
              "value": "100",
              "label": "100"
            },
            {
              "value": "200",
              "label": "200"
            },
            {
              "value": "300",
              "label": "300"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "500",
              "label": "500"
            },
            {
              "value": "600",
              "label": "600"
            },
            {
              "value": "700",
              "label": "700"
            },
            {
              "value": "800",
              "label": "800"
            },
            {
              "value": "900",
              "label": "900"
            }
          ],
          "default": "normal"
        },
        {
          "type": "select",
          "id": "description_font_style",
          "label": "Description Font style",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "italic",
              "label": "Italic"
            },
            {
              "value": "oblique",
              "label": "Oblique"
            }
          ],
          "default": "normal"
        },
        {
          "type": "range",
          "id": "description_letter_spacing",
          "min": 0,
          "max": 10,
          "step": 0.5,
          "unit": "px",
          "label": "Description Letter spacing",
          "default": 0
        },
        {
          "type": "select",
          "id": "description_text_decoration",
          "label": "Description Text Decoration",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "underline",
              "label": "Underline"
            },
            {
              "value": "overline",
              "label": "Overline"
            },
            {
              "value": "line-through",
              "label": "Line Through"
            }
          ],
          "default": "none"
        },
        {
          "type": "color",
          "id": "description_text_decoration_color",
          "label": "Description Decoration Color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "description_padding_top",
          "label": "Description Padding Top (px)",
          "default": 5,
          "min": 0,
          "max": 150,
          "step": 5
        },
        {
          "type": "range",
          "id": "description_padding_bottom",
          "label": "Description Padding Bottom (px)",
          "default": 5,
          "min": 0,
          "max": 150,
          "step": 5
        },
        {
      "type": "header",
      "content": "Highlight Color"
    },
    {
      "type": "color",
      "id": "highlight_color",
      "label": "Highlight Text",
      "default": "#F54927"
    },
    {
      "type": "checkbox",
      "id": "enable_shadow",
      "label": "Enable Button Shadow",
      "default": true
    },
    {
      "type": "header",
      "content": "Button"
    },
    {
      "type": "color",
      "id": "background_color",
      "label": "Button color",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "button_text_color",
      "label": "Button text color",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "button_hover_color",
      "label": "Button hover color",
      "default": "#333333"
    },
    {
      "type": "color",
      "id": "button_text_hover_color",
      "label": "Button text hover color",
      "default": "#ffffff"
    },
    {
      "type": "range",
      "id": "button_border_radius",
      "label": "Border radius",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "button_full_width",
      "label": "Full width button",
      "default": false
    },
    {
      "type": "range",
      "id": "button_width",
      "label": "Button width (px)",
      "min": 100,
      "max": 500,
      "step": 10,
      "unit": "px",
      "default": 200
    },
    {
      "type": "range",
      "id": "button_margin_top",
      "label": "Button Margin Top (px)",
      "default": 20,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "range",
      "id": "button_margin_bottom",
      "label": "Button Margin Bottom (px)",
      "default": 5,
      "min": 0,
      "max": 150,
      "step": 5
    },
    {
      "type": "header",
      "content": "Spacing Settings"
    },
    {
      "type": "range",
      "id": "padding_top_desktop",
      "label": "Top Padding (Desktop)",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "label": "Bottom Padding (Desktop)",
      "min": 0,
      "max": 200,
      "step": 5,
      "unit": "px",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Top Padding (Mobile)",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 5
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Bottom Padding (Mobile)",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 5
    },
  ],
  "presets": [
    {
      "name": "RW - Wavy Background #1",
      "category": "Custom"
    }
  ]
}
{% endschema %}