{%- assign sec_id = '#shopify-section-' | append: section.id -%}
{%- assign parts = sec_id | split: '_' -%}
{%- assign last_lower = parts | last -%}
{%- assign last_part = last_lower | downcase -%}

<style>
  {{ sec_id }} {
    --pc-speed: {{ section.settings.animation_speed }}ms;
    --pc-offset: {{ section.settings.underline_offset }};
  }

  {{ sec_id }} .pc-symbol-heading-{{ last_part }} {
    margin-top: {{ section.settings.top_margin_top }}px !important;
    margin-bottom: {{ section.settings.top_margin_bottom }}px !important;
  }

   {{ sec_id }} .pc-symbol-heading-{{ last_part }} {
    max-width: {{ section.settings.max_width }}px;
    }

  {{ sec_id }} .pc-symbol-heading-{{ last_part }} h2 {
    color: {{ section.settings.title_color }};
    font-size: {{ section.settings.title_font_size }}px;
    font-weight: {{ section.settings.title_font_weight }};
    font-style: {{ section.settings.title_font_style }};
    letter-spacing: {{ section.settings.title_letter_spacing }}px;
    text-decoration: {{ section.settings.title_text_decoration }};
    {% if section.settings.title_text_decoration != 'none' %}
      text-decoration-color: {{ section.settings.title_text_decoration_color }};
    {% endif %}
    padding-top: {{ section.settings.title_padding_top }}px;
    padding-bottom: {{ section.settings.title_padding_bottom }}px;
    text-align: {{ section.settings.title_alignment }};
    margin:0;
  }

  {{ sec_id }} .pc-symbol-library-{{ last_part }} {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
  }

  {{ sec_id }} .pc-nav-box-{{ last_part }} {
    display: flex;
    gap: {{ section.settings.link_spacing }}px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  }

  {{ sec_id }} .pc-nav-item-{{ last_part }} {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: {{ section.settings.link_color }};
    font-size: {{ section.settings.font_size }}px;
    font-weight: {{ section.settings.font_weight }};
    font-style: {{ section.settings.font_style }};
    letter-spacing: {{ section.settings.letter_spacing }}px;
    text-decoration: {{ section.settings.text_decoration }};
    text-decoration-color: {{ section.settings.text_decoration_color }};
    padding: 10px 0;
    transition: all var(--pc-transition-duration) cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform-origin: center bottom;
    will-change: transform, color;
  }

  {{ sec_id }} .pc-nav-item-{{ last_part }}:hover {
    transform: scale(var(--pc-hover-scale));
    color: {{ section.settings.link_hover_color }};
  }

  {{ sec_id }} .pc-underline-svg-{{ last_part }} {
    --path-distance: var(--pc-offset, 10);
    position: absolute;
    bottom: calc(var(--path-distance) * 1px);
    left: 0;
    width: 100%;
    height: {{ section.settings.underline_thickness }}px;
    pointer-events: none;
    opacity: 0;
    transition: 0.7s ease-in-out;
  }

  {{ sec_id }} .pc-underline-svg-{{ last_part }} svg {
    width: 100%;
    height: 100%;
    overflow: visible;
  }

  {{ sec_id }} .pc-underline-svg-{{ last_part }} path {
    stroke: currentColor;
    stroke-width: {{ section.settings.underline_thickness }};
    stroke-linecap: round;
    fill: none;
    --path-length: 1000;
    stroke-dasharray: var(--path-length);
    stroke-dashoffset: var(--path-length);
  }

  @keyframes pc-draw-in-{{ last_part }} {
    0% {
      stroke-dashoffset: var(--path-length);
    }
    100% {
      stroke-dashoffset: 0;
    }
  }

  @keyframes pc-draw-out-{{ last_part }} {
    0% {
      stroke-dashoffset: 0;
    }
    100% {
      stroke-dashoffset: calc(var(--path-length) * -1);
    }
  }

  {{ sec_id }} .pc-nav-item-{{ last_part }}:hover .pc-underline-svg-{{ last_part }} {
    opacity: 1;
  }

  {{ sec_id }} .pc-nav-item-{{ last_part }}:hover .pc-underline-svg-{{ last_part }} path {
    animation: pc-draw-in-{{ last_part }} calc(var(--pc-speed) * 2) cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }

  {{ sec_id }} .pc-nav-item-{{ last_part }}:not(:hover) .pc-underline-svg-{{ last_part }} path {
    animation: pc-draw-out-{{ last_part }} calc(var(--pc-speed) * 1.5) cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
  }

  @media (max-width: 749px) {
    {{ sec_id }} .pc-nav-container-{{ last_part }} {
      gap: {{ section.settings.link_spacing_mobile }}px;
    }
    
    {{ sec_id }} .pc-nav-item-{{ last_part }} {
      font-size: {{ section.settings.font_size_mobile }}px;
    }
  }
</style>

<div class="pc-symbol-library-{{ last_part }}">  
  <svg>
    <symbol id="pc-underline-1-{{ last_part }}" viewBox="0 0 310 40" preserveAspectRatio="none">
      <path fill="none" stroke="{{ section.settings.underline_color }}" stroke-width="10" d="M5 20.9999C26.7762 16.2245 49.5532 11.5572 71.7979 14.6666C84.9553 16.5057 97.0392 21.8432 109.987 24.3888C116.413 25.6523 123.012 25.5143 129.042 22.6388C135.981 19.3303 142.586 15.1422 150.092 13.3333C156.799 11.7168 161.702 14.6225 167.887 16.8333C181.562 21.7212 194.975 22.6234 209.252 21.3888C224.678 20.0548 239.912 17.991 255.42 18.3055C272.027 18.6422 288.409 18.867 305 17.9999" />
    </symbol>
    <symbol id="pc-underline-2-{{ last_part }}" viewBox="0 0 310 40" preserveAspectRatio="none">
      <path fill="none" stroke="{{ section.settings.underline_color }}" stroke-width="10" d="M5 24.2592C26.233 20.2879 47.7083 16.9968 69.135 13.8421C98.0469 9.5853 128.407 4.02322 158.059 5.14674C172.583 5.69708 187.686 8.66104 201.598 11.9696C207.232 13.3093 215.437 14.9471 220.137 18.3619C224.401 21.4596 220.737 25.6575 217.184 27.6168C208.309 32.5097 197.199 34.281 186.698 34.8486C183.159 35.0399 147.197 36.2657 155.105 26.5837C158.11 22.9053 162.993 20.6229 167.764 18.7924C178.386 14.7164 190.115 12.1115 201.624 10.3984C218.367 7.90626 235.528 7.06127 252.521 7.49276C258.455 7.64343 264.389 7.92791 270.295 8.41825C280.321 9.25056 296 10.8932 305 13.0242" />
    </symbol>
    <symbol id="pc-underline-3-{{ last_part }}" viewBox="0 0 310 40" preserveAspectRatio="none">
      <path fill="none" stroke="{{ section.settings.underline_color }}" stroke-width="10" d="M5 29.5014C9.61174 24.4515 12.9521 17.9873 20.9532 17.5292C23.7742 17.3676 27.0987 17.7897 29.6575 19.0014C33.2644 20.7093 35.6481 24.0004 39.4178 25.5014C48.3911 29.0744 55.7503 25.7731 63.3048 21.0292C67.9902 18.0869 73.7668 16.1366 79.3721 17.8903C85.1682 19.7036 88.2173 26.2464 94.4121 27.2514C102.584 28.5771 107.023 25.5064 113.276 20.6125C119.927 15.4067 128.83 12.3333 137.249 15.0014C141.418 16.3225 143.116 18.7528 146.581 21.0014C149.621 22.9736 152.78 23.6197 156.284 24.2514C165.142 25.8479 172.315 17.5185 179.144 13.5014C184.459 10.3746 191.785 8.74853 195.868 14.5292C199.252 19.3205 205.597 22.9057 211.621 22.5014C215.553 22.2374 220.183 17.8356 222.979 15.5569C225.4 13.5845 227.457 11.1105 230.742 10.5292C232.718 10.1794 234.784 12.9691 236.164 14.0014C238.543 15.7801 240.717 18.4775 243.356 19.8903C249.488 23.1729 255.706 21.2551 261.079 18.0014C266.571 14.6754 270.439 11.5202 277.146 13.6125C280.725 14.7289 283.221 17.209 286.393 19.0014C292.321 22.3517 298.255 22.5014 305 22.5014" />
    </symbol>
    <symbol id="pc-underline-4-{{ last_part }}" viewBox="0 0 310 40" preserveAspectRatio="none">
      <path fill="none" stroke="{{ section.settings.underline_color }}" stroke-width="10" d="M17.0039 32.6826C32.2307 32.8412 47.4552 32.8277 62.676 32.8118C67.3044 32.807 96.546 33.0555 104.728 32.0775C113.615 31.0152 104.516 28.3028 102.022 27.2826C89.9573 22.3465 77.3751 19.0254 65.0451 15.0552C57.8987 12.7542 37.2813 8.49399 44.2314 6.10216C50.9667 3.78422 64.2873 5.81914 70.4249 5.96641C105.866 6.81677 141.306 7.58809 176.75 8.59886C217.874 9.77162 258.906 11.0553 300 14.4892" />
    </symbol>
    <symbol id="pc-underline-5-{{ last_part }}" viewBox="0 0 310 40" preserveAspectRatio="none">
      <path fill="none" stroke="{{ section.settings.underline_color }}" stroke-width="10" d="M4.99805 20.9998C65.6267 17.4649 126.268 13.845 187.208 12.8887C226.483 12.2723 265.751 13.2796 304.998 13.9998" />
    </symbol>
  </svg>
</div>

<div class="pc-symbol-heading-{{ last_part }}">
   <h2>{{ section.settings.title }}</h2>
    <div class="pc-nav-box-{{ last_part }}">
  {%- for block in section.blocks -%}
    {%- if block.settings.link_text != blank -%}
      <a href="{{ block.settings.link_url }}" class="pc-nav-item-{{ last_part }}" data-pc-draw-line-{{ last_part }}>
        {{ block.settings.link_text }}
        <div class="pc-underline-svg-{{ last_part }}" data-pc-draw-line-box-{{ last_part }}></div>
      </a>
    {%- endif -%}
  {%- endfor -%}
</div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function initRandomUnderlines() {
      const sectionId = '{{ last_part }}';
      const totalVariants = 5;
      let nextIndex = Math.floor(Math.random() * totalVariants);
      
      document.querySelectorAll('[data-pc-draw-line-{{ last_part }}]').forEach(container => {
        const box = container.querySelector('[data-pc-draw-line-box-{{ last_part }}]');
        if (!box) return;
        
        container.addEventListener('mouseenter', () => {
          const symbol = document.querySelector(`#pc-underline-${nextIndex + 1}-${sectionId}`);
          const originalPath = symbol.querySelector('path');
          
          if (originalPath) {
            const svgHTML = `
              <svg viewBox="0 0 310 40" preserveAspectRatio="none">
                ${originalPath.outerHTML}
              </svg>
            `;
            
            box.innerHTML = svgHTML;
            
            const path = box.querySelector('path');
            if (path) {
              const length = path.getTotalLength();
              path.style.strokeDasharray = length;
              path.style.strokeDashoffset = length;
              path.style.setProperty('--path-length', length);
            }
          }
          
          nextIndex = (nextIndex + 1) % totalVariants;
        });
      });
    }
    
    initRandomUnderlines();
  });
</script>

{% schema %}
{
  "name": "PWC - Animated Nav #1",
  "class": "shopify-section--pc-animated-nav",
  "settings": [
    {
      "type": "header",
      "content": "General Settings"
    },
    {
      "type": "range",
      "id": "max_width",
      "label": "Maximum Width",
      "min": 500,
      "max": 2000,
      "step": 50,
      "unit": "px",
      "default": 1200
    },
    {
      "type": "range",
      "id": "link_spacing",
      "label": "Link Spacing (Desktop)",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "default": 40
    },
    {
      "type": "range",
      "id": "link_spacing_mobile",
      "label": "Link Spacing (Mobile)",
      "min": 0,
      "max": 50,
      "step": 5,
      "unit": "px",
      "default": 20
    },
     {
          "type": "range",
          "id": "top_margin_top",
          "label": "Margin Top (px)",
          "default": 5,
          "min": 0,
          "max": 100,
          "step": 1
        },
 {
          "type": "range",
          "id": "top_margin_bottom",
          "label": "Margin Bottom (px)",
          "default": 5,
          "min": 0,
          "max": 100,
          "step": 1
        },
    {
      "type": "header",
      "content": "Title"
    },
    {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Hover over the navigation items:"
        },
         {
          "type": "color",
          "id": "title_color",
          "label": "Title Color",
          "default": "#5E3653"
        },
       {
      "type": "range",
      "id": "title_font_size",
      "label": "Title Font Size",
      "min": 6,
      "max": 50,
      "step": 2,
      "unit": "px",
      "default": 24
    },
    {
      "type": "select",
      "id": "title_alignment",
      "label": "Title alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" },
        { "value": "right", "label": "Right" }
      ],
      "default": "center"
    },
        {
          "type": "select",
          "id": "title_font_weight",
          "label": "Title Font weight",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "bold",
              "label": "Bold"
            },
            {
              "value": "bolder",
              "label": "Bolder"
            },
            {
              "value": "lighter",
              "label": "Lighter"
            },
            {
              "value": "100",
              "label": "100"
            },
            {
              "value": "200",
              "label": "200"
            },
            {
              "value": "300",
              "label": "300"
            },
            {
              "value": "400",
              "label": "400"
            },
            {
              "value": "500",
              "label": "500"
            },
            {
              "value": "600",
              "label": "600"
            },
            {
              "value": "700",
              "label": "700"
            },
            {
              "value": "800",
              "label": "800"
            },
            {
              "value": "900",
              "label": "900"
            }
          ],
          "default": "bold"
        },
        {
          "type": "select",
          "id": "title_font_style",
          "label": "Title Font style",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "italic",
              "label": "Italic"
            },
            {
              "value": "oblique",
              "label": "Oblique"
            }
          ],
          "default": "normal"
        },
        {
          "type": "range",
          "id": "title_letter_spacing",
          "min": 0,
          "max": 10,
          "step": 0.5,
          "unit": "px",
          "label": "Title Letter spacing",
          "default": 0
        },
        {
          "type": "select",
          "id": "title_text_decoration",
          "label": "Title Text Decoration",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "underline",
              "label": "Underline"
            },
            {
              "value": "overline",
              "label": "Overline"
            },
            {
              "value": "line-through",
              "label": "Line Through"
            }
          ],
          "default": "none"
        },
        {
          "type": "color",
          "id": "title_text_decoration_color",
          "label": "Title Decoration Color",
          "default": "#000"
        },
        {
          "type": "range",
          "id": "title_padding_top",
          "label": "Title Padding Top (px)",
          "default": 5,
          "min": 0,
          "max": 100,
          "step": 1
        },
 {
          "type": "range",
          "id": "title_padding_bottom",
          "label": "Title Padding Bottom (px)",
          "default": 5,
          "min": 0,
          "max": 100,
          "step": 1
        },
    {
      "type": "header",
      "content": "Typography Settings"
    },
    {
      "type": "range",
      "id": "font_size",
      "label": "Font Size (Desktop)",
      "min": 12,
      "max": 72,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "font_size_mobile",
      "label": "Font Size (Mobile)",
      "min": 12,
      "max": 48,
      "step": 1,
      "unit": "px",
      "default": 18
    },
    {
      "type": "range",
      "id": "font_weight",
      "label": "Font Weight",
      "min": 100,
      "max": 900,
      "step": 100,
      "default": 500
    },
     {
          "type": "select",
          "id": "font_style",
          "label": "Font style",
          "options": [
            {
              "value": "normal",
              "label": "Normal"
            },
            {
              "value": "italic",
              "label": "Italic"
            },
            {
              "value": "oblique",
              "label": "Oblique"
            }
          ],
          "default": "normal"
        },
        {
          "type": "range",
          "id": "letter_spacing",
          "min": 0,
          "max": 10,
          "step": 0.5,
          "unit": "px",
          "label": "Letter spacing",
          "default": 0
        },
        {
          "type": "select",
          "id": "text_decoration",
          "label": "Text Decoration",
          "options": [
            {
              "value": "none",
              "label": "None"
            },
            {
              "value": "underline",
              "label": "Underline"
            },
            {
              "value": "overline",
              "label": "Overline"
            },
            {
              "value": "line-through",
              "label": "Line Through"
            }
          ],
          "default": "none"
        },
        {
          "type": "color",
          "id": "text_decoration_color",
          "label": "Text Decoration Color",
          "default": "#000"
        },
    {
      "type": "color",
      "id": "link_color",
      "label": "Color",
      "default": "#5E3653"
    },
    {
      "type": "color",
      "id": "link_hover_color",
      "label": "Hover Color",
      "default": "#e55050"
    },
    {
      "type": "header",
      "content": "Underline Settings"
    },
    {
      "type": "color",
      "id": "underline_color",
      "label": "Underline Color",
      "default": "#e55050"
    },
    {
      "type": "range",
      "id": "underline_thickness",
      "label": "Underline Thickness",
      "min": 1,
      "max": 20,
      "step": 1,
      "unit": "px",
      "default": 10
    },
    {
      "type": "range",
      "id": "underline_offset",
      "label": "Underline Offset",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "header",
      "content": "Animation Settings"
    },
    
    {
      "type": "range",
      "id": "animation_speed",
      "label": "Underline Animation Speed",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "ms",
      "default": 1
    },
  ],
  "blocks": [
    {
      "name": "Navigation Link",
      "type": "link",
      "settings": [
        {
          "type": "text",
          "id": "link_text",
          "label": "Link Text",
          "default": "Menu Item"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Link URL"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "PWC - Animated Nav #1",
      "category": "Navigation",
      "blocks": [
        {
          "type": "link",
          "settings": {
            "link_text": "elegant",
            "link_url": "/"
          }
        },
        {
          "type": "link",
          "settings": {
            "link_text": "design",
            "link_url": "/collections/all"
          }
        },
        {
          "type": "link",
          "settings": {
            "link_text": "to",
            "link_url": "/pages/about"
          }
        },
        {
          "type": "link",
          "settings": {
            "link_text": "showcase",
            "link_url": "/pages/"
          }
        },
         {
          "type": "link",
          "settings": {
            "link_text": "high",
            "link_url": "/pages/"
          }
        },
         {
          "type": "link",
          "settings": {
            "link_text": "quality",
            "link_url": "/pages/"
          }
        },
         {
          "type": "link",
          "settings": {
            "link_text": "visuals",
            "link_url": "/pages/"
          }
        },
         {
          "type": "link",
          "settings": {
            "link_text": "and",
            "link_url": "/pages/"
          }
        },
         {
          "type": "link",
          "settings": {
            "link_text": "boost",
            "link_url": "/pages/"
          }
        },
         {
          "type": "link",
          "settings": {
            "link_text": "sales",
            "link_url": "/pages/"
          }
        }
      ]
    }
  ]
}
{% endschema %}